<button nz-button nzType="primary" [disabled]="disabled"
        class="button-add" (click)="showModal()">
    Thêm mới Inbound
</button>
<nz-modal
        nzCentered
        [(nzVisible)]="isVisible"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="null"
        [nzWidth]="1050"
        (nzOnCancel)="handleCancel()"
>
    <ng-template #modalTitle>
        <h4><b>Thêm mới Inbound</b></h4>
    </ng-template>
    <ng-template #modalContent>
        <one-portal-form-rule
                direction="ingress"
                securityGroupId="{{ condition.securityGroupId }}"
                region="{{ condition.regionId }}"
                project="{{ condition.projectId }}"
                (onCancel)="handleCancel()"
                (onOk)="handleOk()"
        />
    </ng-template>
</nz-modal>
