<one-portal-header
        title="Backup VM"
        [path]="['Home', 'Dịch vụ', 'Backup VM']"
        [regionId]="region"
        (onProjectChanged)="projectChanged($event)" (onRegionChanged)="regionChanged($event)"
/>
<nz-content>
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
        <!--    <nz-card>-->
        <nz-card>
            <div class="title"><h4><b>Restore Backup VM</b></h4></div>
            <nz-row>
                <nz-radio-group [(ngModel)]="selectedValueRadio" (ngModelChange)="onChangeStatus()"
                                formControlName="radio">
                    <label nz-radio nzValue="O" class="label">Restore vào máy ảo hiện tại </label>
                    <label nz-radio nzValue="N" class="label">Restore vào máy ảo mới </label>
                </nz-radio-group>
            </nz-row>
        </nz-card>
    </form>
    <div *ngIf="selectedValueRadio === 'N'">
        <one-portal-new-virtual-machine [region]="region"
                                        [project]="project"
                                        [backupVmId]="backupVmId"/>
    </div>
    <div *ngIf="selectedValueRadio === 'O'">
        <one-portal-current-virtual-machine [region]="region"
                                            [project]="project"
                                            [backupVmId]="backupVmId"/>
    </div>
</nz-content>
