<page-header [extra]="extra" [content]="content" [breadcrumb]="breadcrumb" [action]="action" [title]="'Danh sách IP Public'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item> Ip Public</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>

  <ng-template #content>
    <div *ngIf="!isBegin" nz-row class="mb-md">
      <div class="row">
        <div class="col-md-6" style="display:flex;">
          <h4 style="display: flex; align-items: center; margin-right:10px">Trạng thái Ip Public:</h4>
          <nz-select [(ngModel)]="selectedStatus" (ngModelChange)="search(null)" nzSize="default" style="width: 150px;">
            <nz-option *ngFor="let p of statusData" [nzValue]="p.value" [nzLabel]="p.name" ></nz-option>
          </nz-select>
        </div>
        <div class="col-md-6" style="margin-left: 30px">
          <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton">
            <input #searchBox type="text" nz-input placeholder="Tìm kiến địa chỉ Ip" style="width: 350px"/>
            <ng-template #suffixButton>
              <button nz-button nzType="primary" nzSize="default" nzSearch (click)="search(searchBox.value)">
                <span nz-icon nzType="search" nzTheme="outline"></span>
                Tim kiếm
              </button>
            </ng-template>
          </nz-input-group>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #extra>
    <button *ngIf="!isBegin" nzSize="default" (click)="createIp()" nz-button nzType="primary" style="
            border: 1px solid #52c41a;
            border-radius: 2px;
            background-color: #52c41a;
          ">+ Tạo mới
    </button>
  </ng-template>
</page-header>

<nz-card>
  <ng-container [ngSwitch]="isBegin">
    <ng-container *ngSwitchCase=false>
      <!-- Bảng-->
      <nz-table #rowSelectionTable  nzShowPagination nzShowSizeChanger [nzData]="listOfIp"
                [nzTotal]="total" [nzPageSize]="size" (nzPageSizeChange)="onPageSizeChange($event)"
                (nzPageIndexChange)="onPageIndexChange($event)" [nzLoading]="loading">
        <thead>
        <tr>
          <th>Địa chỉ IP</th>
          <th>Loại IP</th>
          <th>Máy ảo</th>
          <th>Trạng thái IP Public</th>
          <th>Trạng thái tác vụ</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listOfIp">
          <td (click)="navigatorToDetail(item.id)" style="color: #0D67B0">{{ item.ipAddress }}</td>
          <td (click)="navigatorToDetail(item.id)">{{ item.iPv6Address === null ? 'IPv4' : 'IPv6' }}</td>
          <td (click)="navigatorToDetail(item.id)">{{ item.attachedVm }}</td>
          <td (click)="navigatorToDetail(item.id)" *ngIf="item.serviceStatus === 'KHOITAO'" style="color: forestgreen">Đang hoạt động</td>
          <td (click)="navigatorToDetail(item.id)" *ngIf="item.serviceStatus === 'TAMNGUNG'" style="color: red">{{item.SuspendType}}</td>
          <td (click)="navigatorToDetail(item.id)" *ngIf="item.status === 0">-</td>
          <td (click)="navigatorToDetail(item.id)" *ngIf="item.status === 2">IN-USE</td>
          <td width="15%">
            <nz-input-group nzCompact>
              <nz-select [(ngModel)]="selectedAction" nzSize="small" (nzOpenChange)="openIpMounted($event, item.id)">
                <nz-option nzValue="Gắn Ip Pulbic" nzLabel="Gắn Ip Pulbic" ></nz-option>
                <nz-option nzValue="Gỡ Ip Pulbic" nzLabel="Gỡ Ip Pulbic" ></nz-option>
                <nz-option nzValue="Xóa" nzLabel="Xóa" ></nz-option>
              </nz-select>
            </nz-input-group>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <ng-container *ngSwitchDefault >
      <nz-result [nzIcon]="customIcon" nzTitle="Volume - Lưu trữ ổ đĩa máy chủ"
                 nzSubTitle="Dịch vụ cung cấp dạng Block cho máy chủ được thiết kế phân nhiều loại để đáp ứng nhiều ứng dụng đòi hỏi về mặt thông lượng hoặc dung lượng.">
        <ng-template #customIcon>
          <img src="assets/imgs/Ip-Public.png" alt="Custom Icon">
        </ng-template>
        <div nz-result-extra>
          <button (click)="createIp()" nz-button nzType="primary">Khởi tạo ngay</button>
        </div>
      </nz-result>
    </ng-container>
  </ng-container>
</nz-card>

<!--Gắn-->
<nz-modal [(nzVisible)]="isVisibleMounted" nzTitle="Gắn Ip Public" (nzOnCancel)="handleCancel()"  (nzOnOk)="Mounted()" nzOkText="Xác nhận"
          nzCancelText="Hủy" [nzStyle]="modalStyle">
  <ng-container *nzModalContent>
    <h4>Chọn máy ảo</h4>
    <nz-select [(ngModel)]="instanceSelected" style="width: 100%" nzPlaceHolder="--Chọn máy ảo--">
      <nz-option *ngFor="let i of listInstance" [nzLabel]="i.name" [nzValue]="i.id" />
    </nz-select>
  </ng-container>
</nz-modal>

<!--Gỡ-->
<nz-modal [(nzVisible)]="isVisibleRemove" nzTitle="Gỡ Ip Public" (nzOnCancel)="handleCancel()"  (nzOnOk)="openIpRemove()" nzOkText="Đồng ý"
          nzCancelText="Hủy" [nzStyle]="modalStyle">
  <ng-container *nzModalContent>
    <p>Quý khách có chắc chắn muốn gỡ Ip Public khỏi máy ảo không?</p>
  </ng-container>
</nz-modal>

<!--Xóa-->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xóa Ip Public" (nzOnCancel)="handleCancel()"  (nzOnOk)="openIpDelete()" nzOkText="Đồng ý"
          nzCancelText="Hủy" [nzStyle]="modalStyle">
  <ng-container *nzModalContent>
    <p>Vui lòng cân nhắc trước khi click nút <strong>Đồng ý</strong>.Quý khách có chắc chăn muốn thực hiện xóa Ip Public?</p>
  </ng-container>
</nz-modal>

