<!-- <page-header [title]="'Chỉnh sửa thông tin máy ảo'"> </page-header> -->
<div style="padding-top: 1%">
  <nz-breadcrumb style="width: 50%; float: left">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Quản lý máy ảo</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Chỉnh sửa thông tin máy ảo</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="text-right non-pointer">
    <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="region"
      (valueChanged)="onProjectChange($event)"
    ></project-select-dropdown>
  </div>
  <div><h2>Chỉnh sửa thông tin máy ảo</h2></div>
</div>
<nz-card
  [nzBordered]="false"
  nzTitle="Thay đổi hệ điều hành"
  *ngIf="currentImage"
>
  <nz-row>
    <p>Hệ điều hành hiện tại: {{ currentImage.name }}</p>
  </nz-row>
  <nz-row>
    <p>Lựa chọn hệ điều hành mới</p>
  </nz-row>
  <ngu-carousel
    #myCarousel
    [inputs]="carouselTileConfig"
    [dataSource]="listImageTypes"
    style="width: 100%"
  >
    <ngu-tile
      *nguCarouselDef="let data; index as i; let ani = animate"
      [@slider]="ani"
    >
      <table class="text-center" style="width: 100%">
        <tbody
          class="images-body"
          [id]="'images_' + data.id"
          [ngClass]="{
            'images-body-active': data.id === selectedImageTypeId,
            bgGray: !data.id === selectedImageTypeId
          }"
        >
          <tr>
            <img
              *ngIf="data.name == 'Linux'"
              src="assets/imgs/ubuntu.png"
              alt=""
            />
            <img
              *ngIf="data.name == 'Windows'"
              src="assets/imgs/window.png"
              alt=""
            />
          </tr>
          <tr>
            <div style="margin-top: 15px; margin-bottom: 15px">
              <nz-select
                nzShowSearch
                [id]="'hdh_' + data.id"
                [(ngModel)]="listSelectedImage[i]"
                (ngModelChange)="onInputHDH($event, i, data.id)"
                nzPlaceHolder="Chọn phiên bản"
                [ngModelOptions]="{ standalone: true }"
                style="text-align: center; width: 150px"
              >
                <nz-option
                  *ngFor="let p of listOfImageByImageType[i]"
                  [nzValue]="p.id"
                  [nzLabel]="p.name"
                ></nz-option>
              </nz-select>
            </div>
          </tr>
        </tbody>
      </table>
    </ngu-tile>

    <ul class="myPoint" NguCarouselPoint>
      <li
        *ngFor="let i of myCarousel.pointNumbers"
        [class.active]="i === myCarousel.activePoint"
        (click)="myCarousel.moveTo(i)"
      ></li>
    </ul>
  </ngu-carousel>
  <br />
  <br />
  <nz-row nzGutter="16">
    <div style="width: 100%">
      <nz-alert
        nzType="warning"
        [nzMessage]="nzDescriptionWarning06"
        nzShowIcon
      ></nz-alert>
      <ng-template #nzDescriptionWarning06>
        <div>
          Các phiên bản hệ điều hành Windows Server là bản dùng thử.Quý khách
          hàng vui lòng kích hoạt bản quyền trước khi sử dụng.
        </div>
      </ng-template>
    </div></nz-row
  ><nz-row nzGutter="16">
    <div style="width: 100%; margin-top: 2%; margin-bottom: 2%">
      <nz-alert
        nzType="warning"
        [nzMessage]="nzDescriptionWarning02"
        nzShowIcon
      ></nz-alert>
      <ng-template #nzDescriptionWarning02>
        <div>
          <b> Quý khách lưu ý:</b><br />
          <b style="color: red">
            - Dữ liệu nằm trong volume cài đặt hệ điều hành cũ (dung lượng 2 GB)
            sẽ bị xóa và không thể khôi phục lại.</b
          >
          <br />- Dữ liệu nằm trên volume gắn ngoài sẽ không bị ảnh hưởng.
          <br />- Sau khi điều chỉnh thành công, mật khẩu đăng nhập mới sẽ được
          gửi vào email khaitestportal2@yopmail.com . <br />- Quá trình điều
          chỉnh hệ điều hành sẽ mất khoảng 15 đến 20 phút tùy dung lượng của
          volume root của máy ảo. <br />- Cấu hình máy ảo (SMC01), ip (,
          192.168.0.109), security group (default) sẽ được giữ nguyên.
        </div>
      </ng-template>
    </div></nz-row
  >
  <nz-row nzGutter="16" style="display: inline">
    <div style="float: right">
      <button nz-button (click)="returnPage()">Quay lại</button>
      <button
        nz-button
        [nzType]="'primary'"
        (click)="modify()"
        [disabled]="!isSelected"
      >
        Chỉnh sửa
      </button>
    </div>
  </nz-row>
</nz-card>
