<nz-row>
    <section class="code-box-meta markdown">
        <div class="code-box-title">
            Quản lý Gắn/Gỡ Security Group
        </div>
        <div class="code-box-description">
            <nz-table #basicTable
                      [nzData]="collection?.records || []"
                      nzShowSizeChanger
                      [nzFrontPagination]="false"
                      [nzTotal]="collection?.totalCount || 0"
                      [nzPageSize]="collection?.pageSize || 0"
                      (nzQueryParams)="onQueryParamsChange($event)"
                      [nzLoading]="isLoading"
            >
                <thead>
                <tr>
                    <th nzAlign="center" class="text-th">Tên máy ảo</th>
                    <th nzAlign="center" class="text-th">Trạng thái</th>
                    <th nzAlign="center" class="text-th">Trạng thái tác vụ</th>
                    <th nzAlign="center" class="text-th">IP LAN</th>
                    <th nzAlign="center" class="text-th">IP Public</th>
                    <th nzAlign="center" class="text-th" style="width: 216px; ">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td nzAlign="center">{{ data.name }}</td>
                    <td nzAlign="center">{{ data.status }}</td>
                    <td nzAlign="center">{{ data.taskState }}</td>
                    <td nzAlign="center">{{ data.ipPrivate }}</td>
                    <td nzAlign="center">{{ data.ipPublic }}</td>
                    <td nzAlign="center">
                        <ng-container *ngIf="data.securityGroups.includes(securityGroupId); else elseBlock">
                            <button nz-button nzType="primary" nzDanger class="button-delete" (click)="showModalDetach(data.id)">Gỡ</button>
                          <one-portal-attach-or-detach [isVisible]="isVisibleDetach"
                                                       [title]="'Xác nhận gỡ security group khỏi máy ảo'"
                                                       [content]="'Bạn có chắc chắn muốn gỡ security group khỏi máy ảo'"
                                                       (onCancel)="handleCancelDetach()"
                                                       (onOk)="handleOkDetach()"
                          />
                        </ng-container>
                        <ng-template #elseBlock>
                            <button nz-button nzType="primary" class="button-attach" (click)="showModalAttach(data.id)">Gán</button>
                            <one-portal-attach-or-detach [isVisible]="isVisibleAttach"
                                                         [title]="'Xác nhận gán security group vào máy ảo'"
                                                         [content]="'Bạn có chắc chắn muốn gán security group vào máy ảo'"
                                                         (onCancel)="handleCancelAttach()"
                                                         (onOk)="handleOkAttach()"
                            />
                        </ng-template>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </section>
</nz-row>
