<!--<page-header  [autoBreadcrumb]="false" [autoTitle]="false" style="background: #fff;">-->
<!--  <nz-col nzSpan="24" style="display: flex; flex-direction: column;">-->
<!--    <nz-row nzJustify="space-between" nzAlign="middle">-->
<!--      <nz-breadcrumb nz-page-header-breadcrumb>-->
<!--        <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
<!--        <nz-breadcrumb-item>-->
<!--          IAM-->
<!--        </nz-breadcrumb-item>-->
<!--        <nz-breadcrumb-item>-->
<!--          <a routerLink="/app-smart-cloud/iam/user-group">User Groups</a>-->
<!--        </nz-breadcrumb-item>-->
<!--        <nz-breadcrumb-item>-->
<!--          <a routerLink="/app-smart-cloud/iam/user-group/create">Tạo User Group</a>-->
<!--        </nz-breadcrumb-item>-->
<!--      </nz-breadcrumb>-->
<!--      <nz-space>-->
<!--        <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>-->
<!--        <project-select-dropdown (valueChanged)="projectChanged($event)"-->
<!--                                 [regionId]="region"></project-select-dropdown>-->
<!--      </nz-space>-->
<!--    </nz-row>-->
<!--    <h3 style="margin-top: 5px">Tạo User Group</h3>-->
<!--  </nz-col>-->
<!--</page-header>-->
<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Tạo User Group'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">IAM</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/iam/user-group">User Groups</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/iam/user-group/create">Tạo User Group</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-card nzTitle="Tên của Group">
      <nz-form-item>
        <nz-form-label nzFor="groupName">
          <div class="name-rule">
            <span>Tên của Group</span>
            <span style="color: rgba(252, 16, 16, 1); "> *</span>
          </div>
        </nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="groupName" id="groupName" [maxlength]="128"/>
          <span
            [ngStyle]="{'color': validateForm.controls.groupName.touched && validateForm.controls.groupName.invalid ? 'rgba(252, 16, 16, 1)' : '#00000040'}">
                                Tối đa 128 ký tự. Sử dụng các ký tự chữ và số và '+=,.@-_'.
                              </span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="parentName">
          <div class="name-rule">
            <span>Chọn Parent Group</span>
            <span style="color: rgba(252, 16, 16, 1); "> *</span>
          </div>
        </nz-form-label>
        <nz-form-control>
          <nz-select nzPlaceHolder="-----Chọn Group-----" formControlName="parentName" id="parentName">
            <nz-option *ngFor="let item of listGroupParentUnique" [nzValue]="[item]" nzLabel="{{ item }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
    <div>
      <one-portal-policy-table (listPoliciesSelected)="receivedListPoliciesSelected($event)"/>
    </div>
    <nz-form-item>
      <nz-form-control>
        <one-portal-users-table formControlName="userNames" id="userNames"
                                (listUsersSelected)="receivedListUsersSelected($event)"/>
      </nz-form-control>
    </nz-form-item>
    <nz-card>
      <nz-form-item nzAlign="bottom" nzJustify="center">
        <nz-space nzSize="large">
          <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-back">Quay lại</button>
          <nz-form-control *nzSpaceItem>
            <button nz-button nzType="primary" [nzLoading]="isLoading" class="button-create"
                    [disabled]="!validateForm.valid" (click)="showCreatePolicy()">Tạo mới
            </button>
          </nz-form-control>
        </nz-space>
      </nz-form-item>
    </nz-card>
  </form>
  <nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="Xác nhận tạo User Groups"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleCreate()"
            nzOkText="Đồng ý" nzCancelText="Hủy">
    <ng-container *nzModalContent>
      <nz-alert nzBanner nzMessage="Bạn đang thực hiện tạo Group {{this.validateForm.value.groupName}}"></nz-alert>
      <h3 style="margin-top: 10px;">Đế thực hiện tạo mới Group, vui lòng chọn “Đồng ý” để xác nhận.</h3>
    </ng-container>
  </nz-modal>
</nz-content>
