<nz-modal
        [(nzVisible)]="isVisible"
        nzCentered [nzWidth]="560"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="null"
>
        <ng-template #modalTitle>
            <h5 class="text-h5 "><b>Tạo mới Allowed Address Pair</b></h5>
        </ng-template>
        <ng-template #modalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="ipAddress">
                        <div class="name-ip-address">
                            <span>IP Address/ CIDR</span>
                            <span style="color: rgba(252, 16, 16, 1); "> *</span>
                        </div>
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18" nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
                        <input nz-input formControlName="ipAddress" id="ipAddress"/>
                        <ng-template #nameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">Vui lòng nhập thông tin</ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập đúng định dạng IP</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item >
                    <nz-form-label [nzSpan]="6" nzFor="macAddress">
                        <div class="name-ip-address">
                            <span>MAC Address</span>
                        </div>
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18" nzDisableAutoTips [nzErrorTip]="nameError">
                        <input nz-input formControlName="macAddress" id="macAddress"/>
                        <ng-template #nameError let-control>
                            <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập đúng định dạng MAC</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nzJustify="end" style="margin-bottom: 0">
                    <nz-space nzSize="large">
                        <button *nzSpaceItem nz-button nzType="default" class="button-cancel" (click)="handleCancel()">Hủy</button>
                        <nz-form-control *nzSpaceItem>
                            <button nz-button nzType="primary" class="button-ok" [nzLoading]="isLoading" [disabled]="!validateForm.valid">Tạo mới</button>
                        </nz-form-control>
                    </nz-space>
                </nz-form-item>
            </form>
        </ng-template>
</nz-modal>
