<nz-row style="margin-bottom: 16px">
    <section class="code-box-meta markdown">
        <div class="code-box-title">
            Outbound
        </div>
        <div class="code-box-description">
            <nz-row nzJustify="end" style="padding-bottom: 16px; padding-right: 32px">
                <one-portal-outbound
                    [disabled]="!securityGroupId"
                    [condition]="{
                      userId: condition.userId,
                      regionId: condition.regionId,
                      projectId: condition.projectId,
                      securityGroupId: securityGroupId
                    }"
                    (onOk)="getRule()"
                />
            </nz-row>
            <nz-table #tableOutbound
                      [nzData]="collection?.records || []"
                      nzShowSizeChanger
                      [nzFrontPagination]="false"
                      [nzTotal]="collection?.totalCount || 0"
                      [nzPageSize]="collection?.pageSize || 0"
                      (nzQueryParams)="onQueryParamsChange($event)"
                      [nzLoading]="isLoading"
            >
                <thead>
                <tr>
                    <th nzAlign="center" class="text-th">IP Version</th>
                    <th nzAlign="center" class="text-th">Protocol</th>
                    <th nzAlign="center" class="text-th">PortRange</th>
                    <th nzAlign="center" class="text-th">RemoteIPPrefix</th>
                    <th nzAlign="center" class="text-th" style="width: 216px;">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of tableOutbound.data">
                    <td nzAlign="center">{{ data.remoteIp }}</td>
                    <td nzAlign="center">{{ data.protocol }}</td>
                    <td nzAlign="center">{{ data.portRange }}</td>
                    <td nzAlign="center">{{ data.remoteIpPrefix }}</td>
                    <td nzAlign="center">
                        <button nz-button nzType="primary" nzDanger class="button-delete" (click)="showModal()">Xoá</button>
                        <one-portal-delete-security-group-rule
                                [isVisible]="isVisible"
                                [condition]="{
                                  userId: condition.userId,
                                  regionId: condition.regionId,
                                  projectId: condition.projectId,
                                }"
                                [id]="data.id"
                                [title]="title"
                                [content]="content"
                                (onCancel)="handleCancel()"
                                (onOk)="handleOk(data.id)"
                        />
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </section>
</nz-row>
