<button nz-button nzType="primary" class="button-add" (click)="showModal()">
    Thêm mới Security group
</button>
<nz-modal
        [(nzVisible)]="isVisible"
        nzCentered
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="null"
        [nzWidth]="1050"
        (nzOnCancel)="handleCancel()"
>
    <ng-template #modalTitle>
        <h4><b>Thêm mới Security Group</b></h4>
    </ng-template>
    <ng-template #modalContent>
        <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <div  class="name-security-group">
                    <span>Tên Security group</span>
                    <span style="color: rgba(252, 16, 16, 1); "> *</span>
                </div>
                <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl" style="margin-top:5px;">
                    <input nz-input formControlName="name" id="name" placeholder="Vui lòng nhập thông tin" [maxlength]="50"/>
                    <ng-template #nameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập thông tin</ng-container>
                        <ng-container *ngIf="control.hasError('startsWith')">Tên phải bắt đầu bằng SG_</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <span class="name-security-group">Mô tả</span>
                <nz-form-control style="margin-top:5px;">
                    <textarea rows="5" nz-input formControlName="description" id="description"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nzAlign="bottom" nzJustify="center">
                <nz-space nzSize="large">
                    <button *nzSpaceItem nz-button nzType="default" (click)="handleCancel()" class="button-back">Quay lại</button>
                    <nz-form-control *nzSpaceItem>
                        <button nz-button nzType="primary" [nzLoading]="isLoading" class="button-new" [disabled]="!validateForm.valid">Tạo mới</button>
                    </nz-form-control>
                </nz-space>
            </nz-form-item>
        </form>
    </ng-template>
</nz-modal>
