<!-- <ngu-carousel
  #myCarousel
  [inputs]="carouselTileConfig"
  [dataSource]="carouselTileItems$ | async"
> -->
<!--  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1">-->
<!--    &lt;-->
<!--  </button>-->

<!-- <ngu-tile
    *nguCarouselDef="let item; index as i; let ani = animate"
    [@slider]="ani"
  >
    <div class="tile" [style.background]="'url(' + item + ')'">
      <h1>{{ i + 1 }}</h1>
    </div>
  </ngu-tile> -->

<!--  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1">-->
<!--    &gt;-->
<!--  </button>-->

<!-- <ul class="myPoint" NguCarouselPoint>
    <li
      *ngFor="let i of myCarousel.pointNumbers"
      [class.active]="i === myCarousel.activePoint"
      (click)="myCarousel.moveTo(i)"
    ></li>
  </ul>
</ngu-carousel> -->

<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Tạo máy ảo'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/instances']">Quản lý máy ảo</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Tạo máy ảo </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="region"
        (valueChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="Thông tin máy ảo">
    <nz-row nzGutter="16">
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name"
            >Tên máy ảo <span class="text-red">*</span></nz-form-label
          >
          <nz-form-control nzErrorTip="Vui lòng nhập tên máy ảo">
            <input
              nz-input
              formControlName="name"
              [(ngModel)]="instanceCreate.serviceName"
              id="name"
              placeholder="Nhập tên máy ảo"
              maxlength="250"
              minlength="1"
              (change)="
                instanceCreate.serviceName = instanceCreate.serviceName.trim()
              "
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-control>
            <nz-switch
              nzSize="small"
              [(ngModel)]="isSnapshot"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="initSnapshot()"
            ></nz-switch>
            <label nzFor="name" style="text-align: right; padding-left: 1%"
              >Tạo từ Snapshot</label
            >
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <div *ngIf="isSnapshot">
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">Chọn Snapshot</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng Chọn Snapshot">
            <nz-select
              [nzPlaceHolder]="'--Chọn Snapshot--'"
              [nzShowSearch]="true"
              [(ngModel)]="selectedSnapshot"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="onChangeSnapshot($event)"
            >
              <nz-option
                *ngFor="let i of listSnapshot"
                [nzLabel]="i.name"
                [nzValue]="i.id"
              />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </div>
    <div *ngIf="!isSnapshot">
      <h6 class="h6">Hệ điều hành<span class="text-red">*</span></h6>
      <ngu-carousel
        #myCarousel
        [inputs]="carouselTileConfig"
        [dataSource]="listImageTypes"
      >
        <ngu-tile
          *nguCarouselDef="let data; index as i; let ani = animate"
          [@slider]="ani"
        >
          <table class="text-center" style="width: 100%">
            <tbody
              class="images-body"
              [id]="'images_' + data.id"
              [ngClass]="{
                'images-body-active': data.id === selectedImageTypeId,
                bgGray: !data.id === selectedImageTypeId
              }"
            >
              <tr>
                <img
                  *ngIf="data.name == 'Linux'"
                  src="assets/imgs/ubuntu.png"
                  alt=""
                />
                <img
                  *ngIf="data.name == 'Windows'"
                  src="assets/imgs/window.png"
                  alt=""
                />
              </tr>
              <tr>
                <div style="margin-top: 15px; margin-bottom: 15px">
                  <nz-select
                    nzShowSearch
                    [id]="'hdh_' + data.id"
                    [(ngModel)]="listSelectedImage[i]"
                    (ngModelChange)="onInputHDH($event, i, data.id)"
                    nzPlaceHolder="Chọn phiên bản"
                    [ngModelOptions]="{ standalone: true }"
                    style="text-align: center; width: 150px"
                  >
                    <nz-option
                      *ngFor="let p of listOfImageByImageType[i]"
                      [nzValue]="p.id"
                      [nzLabel]="p.name"
                    ></nz-option>
                  </nz-select>
                </div>
              </tr>
            </tbody>
          </table>
        </ngu-tile>

        <ul class="myPoint" NguCarouselPoint>
          <li
            *ngFor="let i of myCarousel.pointNumbers"
            [class.active]="i === myCarousel.activePoint"
            (click)="myCarousel.moveTo(i)"
          ></li>
        </ul>
      </ngu-carousel>
    </div>

    <br />
    <nz-row nzGutter="16">
      <h6 class="h6">Chọn loại Volume <span class="text-red">*</span></h6>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-radio-group
        style="width: 100%; display: inline-flex"
        name="selectedHDDorSSD"
      >
        <nz-col nzXs="24" nzMd="12">
          <nz-card
            [nzAlign]="'middle'"
            [ngStyle]="{
              'background-color': activeBlockHDD ? '#e6f7ff' : '#fcfcfc'
            }"
          >
            <nz-card-meta
              [nzAvatar]="nzAvatarselectedHDDorSSD1"
              [nzTitle]="nzTitleselectedHDDorSSD1"
              [nzDescription]="nzDescriptionselectedHDDorSSD1"
            >
              <ng-template #nzAvatarselectedHDDorSSD1>
                <input
                  type="radio"
                  [checked]="activeBlockHDD"
                  (click)="initHDD()"
                />
              </ng-template>
              <ng-template #nzTitleselectedHDDorSSD1>
                <b>HDD</b>
              </ng-template>
              <ng-template #nzDescriptionselectedHDDorSSD1>
                <ellipsis>
                  Lựa chọn tốt hơn nếu bạn đang đối phó với các bản sao lưu dữ
                  liệu,<br />
                  lưu trữ dữ liệu hoặc khối lượng công việc chuyên sâu thông
                  lượng</ellipsis
                >
              </ng-template>
            </nz-card-meta>
          </nz-card></nz-col
        >
        <nz-col nzXs="24" nzMd="12">
          <nz-card
            [nzAlign]="'middle'"
            [ngStyle]="{
              'background-color': activeBlockSSD ? '#e6f7ff' : '#fcfcfc'
            }"
          >
            <nz-card-meta
              [nzAvatar]="nzAvatarselectedHDDorSSD2"
              [nzTitle]="nzTitleselectedHDDorSSD2"
              [nzDescription]="nzDescriptionselectedHDDorSSD2"
            >
              <ng-template #nzAvatarselectedHDDorSSD2>
                <input
                  type="radio"
                  [checked]="activeBlockSSD"
                  (click)="initSSD()"
                />
              </ng-template>
              <ng-template #nzTitleselectedHDDorSSD2>
                <b>SSD</b>
              </ng-template>
              <ng-template #nzDescriptionselectedHDDorSSD2>
                <ellipsis
                  >Lựa chọn tốt hơn cho khối lượng công việc phân tích dữ liệu
                  hoặc <br />
                  chơi game
                </ellipsis>
              </ng-template>
            </nz-card-meta>
          </nz-card>
        </nz-col>
      </nz-radio-group>
    </nz-row>

    <nz-tabset>
      <nz-tab nzTitle="Gói cấu hình">
        <!-- <nz-carousel
          [nzEffect]="effect"
          style="overflow: initial"
          style="height: 200px"
        >
          <div nz-carousel-content *ngFor="let page of pagedCardList">
            <div nz-row>
              <div nz-col nzSpan="6" *ngFor="let data of page">
                <table
                  class="flavor-card text-center"
                  (click)="onInputFlavors(data.id)"
                >
                  <tbody
                    class="flavor-body"
                    [id]="'flavor_' + data.id"
                    [class.initialClassFlavor]="
                      selectedElementFlavor === 'flavor_' + data.id &&
                      isInitialClass
                    "
                    [class.newClassFlavor]="
                      selectedElementFlavor === 'flavor_' + data.id &&
                      isNewClass
                    "
                    (click)="selectElementInputFlavors('flavor_' + data.id)"
                  >
                    <tr>
                      <div>
                        <b class="h4">{{ data.flavorName }}</b
                        ><br />
                        <b class="h4">{{ data.price }}đ/tháng</b><br />
                        <span>đ/giờ</span>
                      </div>
                    </tr>
                    <tr
                      class="flavorfooter"
                      [class.flavor-footer-active]="
                        selectedElementFlavor === 'flavor_' + data.id
                      "
                      [class.flavor-footer]="
                        selectedElementFlavor != 'flavor_' + data.id
                      "
                    > -->
        <!-- [ngClass]="{'bgActive': isNewClass, 'bgGray': !isNewClass}" -->
        <!-- <div>
                        <p>{{ data.description }}</p>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </nz-carousel> -->
        <ngu-carousel
          #myCarousel
          [inputs]="carouselTileConfig"
          [dataSource]="listFlavors"
        >
          <ngu-tile
            *nguCarouselDef="let item; index as i; let ani = animate"
            [@slider]="ani"
          >
            <nz-row>
              <table
                class="text-center"
                style="width: 100%"
                (click)="onInputFlavors(item.id)"
              >
                <tbody
                  class="flavor-body"
                  [id]="'flavor_' + item.id"
                  [class.initialClassFlavor]="
                    selectedElementFlavor === 'flavor_' + item.id &&
                    isInitialClass
                  "
                  [class.newClassFlavor]="
                    selectedElementFlavor === 'flavor_' + item.id && isNewClass
                  "
                  (click)="selectElementInputFlavors('flavor_' + item.id)"
                >
                  <tr>
                    <div>
                      <b class="h4">{{ item.flavorName | slice : 3 }}</b
                      ><br />
                      <b class="h4">{{ item.price }}</b
                      ><span> đ/tháng</span><br />
                      <span>đ/giờ</span>
                    </div>
                  </tr>
                  <tr
                    class="flavorfooter"
                    [class.flavor-footer-active]="
                      selectedElementFlavor === 'flavor_' + item.id
                    "
                    [class.flavor-footer]="
                      selectedElementFlavor != 'flavor_' + item.id
                    "
                  >
                    <!-- [ngClass]="{'bgActive': isNewClass, 'bgGray': !isNewClass}" -->
                    <div>
                      <p>{{ item.description }}</p>
                    </div>
                  </tr>
                </tbody>
              </table>
            </nz-row>
          </ngu-tile>

          <ul class="myPoint" NguCarouselPoint>
            <li
              *ngFor="let i of myCarousel.pointNumbers"
              [class.active]="i === myCarousel.activePoint"
              (click)="myCarousel.moveTo(i)"
            ></li>
          </ul>
        </ngu-carousel>
      </nz-tab>
      <nz-tab nzTitle="Cấu hình tuỳ chỉnh">
        <div class="ant-table">
          <table>
            <thead class="ant-table-thead">
              <tr>
                <th>VCPU</th>
                <th>RAM (GB)</th>
                <th>Dung lượng (GB)</th>
                <th>IOPS</th>
                <th>Giá theo tháng (VNĐ)</th>
                <th>Giá theo giờ (VNĐ)</th>
              </tr>
            </thead>
            <tbody class="ant-table-tbody">
              <tr>
                <td>
                  <nz-input-number
                    [(ngModel)]="configCustom.vCPU"
                    [ngModelOptions]="{ standalone: true }"
                    [nzMin]="0"
                    [nzMax]="62"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="configCustom.ram"
                    [ngModelOptions]="{ standalone: true }"
                    [nzMin]="0"
                    [nzMax]="62"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="configCustom.capacity"
                    [ngModelOptions]="{ standalone: true }"
                    [nzMin]="0"
                    [nzMax]="100"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <label>
                    {{ configCustom.iops }}
                  </label>
                </td>
                <td>
                  <label>
                    {{ configCustom.priceMonth }}
                  </label>
                </td>
                <td>
                  <label>
                    {{ configCustom.priceHour }}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nz-tab>
    </nz-tabset>
    <br />
    <nz-row nzGutter="16">
      <nz-col nzLg="12" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label
            >Chọn IP Public <span class="text-red">*</span></nz-form-label
          >
          <nz-form-control nzErrorTip="Chọn IP Public *">
            <nz-select
              [nzPlaceHolder]="'Mặc định'"
              [nzShowSearch]="true"
              [(ngModel)]="ipPublicValue"
              [ngModelOptions]="{ standalone: true }"
            >
              <nz-option nzLabel="Mặc định" nzValue="" />
              <nz-option
                *ngFor="let i of listIPPublic"
                [nzLabel]="i.ipAddress || i.networkId"
                [nzValue]="i.id"
              />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div>
          <label
            nz-checkbox
            [(ngModel)]="isUseIPv6"
            [ngModelOptions]="{ standalone: true }"
            >Sử dụng IPv6</label
          >
          <br />
          <label
            nz-checkbox
            [(ngModel)]="isUseLAN"
            [ngModelOptions]="{ standalone: true }"
            >Sử dụng mạng LAN</label
          >
        </div>
      </nz-col>
      <nz-col nzLg="12" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>Chọn Security Group</nz-form-label>
          <nz-form-control>
            <nz-select
              nzMode="multiple"
              nzPlaceHolder="Chọn Security Group"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="selectedSecurityGroup"
              (ngModelChange)="onSelectedSecurityGroup($event)"
            >
              <nz-option
                *ngFor="let i of listSecurityGroup"
                [nzLabel]="i.name"
                [nzValue]="i.name"
              />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div>
          <nz-alert
            nzType="warning"
            [nzMessage]="nzDescriptionWarning3"
            nzShowIcon
          ></nz-alert>
          <ng-template #nzDescriptionWarning3>
            <div>
              Để thiết lập các cơ chế truy cập vào máy ảo, Quý khách cần cấu
              hình Security Group <br />
              trong mục <u>Truy cập và Bảo mật</u>
            </div>
          </ng-template>
        </div>
      </nz-col>
    </nz-row>
    <nz-col nzLg="24" nzMd="12" nzSm="24">
      <nz-form-label nzFor="name"
        >Chọn phương thức truy cập máy ảo
        <span class="text-red">*</span></nz-form-label
      >
    </nz-col>
    <nz-row nzGutter="16">
      <nz-radio-group
        style="width: 100%; display: inline-flex"
        name="selectedPasswordOrSSHkey"
      >
        <nz-col nzXs="24" nzMd="12">
          <nz-card
            [ngStyle]="{
              'background-color': activeBlockPassword ? '#e6f7ff' : '#fcfcfc'
            }"
          >
            <nz-card-meta
              [nzAvatar]="nzAvatarselectedPasswordOrSSHkey1"
              [nzTitle]="nzTitleselectedPasswordOrSSHkey1"
              [nzDescription]="nzDescriptionselectedPasswordOrSSHkey1"
            >
              <ng-template #nzAvatarselectedPasswordOrSSHkey1>
                <input
                  type="radio"
                  [checked]="activeBlockPassword"
                  (click)="initPassword()"
                />
              </ng-template>
              <ng-template #nzTitleselectedPasswordOrSSHkey1>
                <b>Mật khẩu</b>
              </ng-template>
              <ng-template #nzDescriptionselectedPasswordOrSSHkey1>
                <ellipsis> Thuận tiện cho người dùng</ellipsis>
              </ng-template>
            </nz-card-meta>
          </nz-card></nz-col
        >
        <nz-col nzXs="24" nzMd="12">
          <nz-card
            [ngStyle]="{
              'background-color': activeBlockSSHKey ? '#e6f7ff' : '#fcfcfc'
            }"
          >
            <nz-card-meta
              [nzAvatar]="nzAvatarselectedPasswordOrSSHkey2"
              [nzTitle]="nzTitleselectedPasswordOrSSHkey2"
              [nzDescription]="nzDescriptionselectedPasswordOrSSHkey2"
            >
              <ng-template #nzAvatarselectedPasswordOrSSHkey2>
                <input
                  type="radio"
                  [checked]="activeBlockSSHKey"
                  (click)="initSSHkey()"
                />
              </ng-template>
              <ng-template #nzTitleselectedPasswordOrSSHkey2>
                <b>SSH key</b>
              </ng-template>
              <ng-template #nzDescriptionselectedPasswordOrSSHkey2>
                <ellipsis> Tăng tính bảo mật khi đăng nhập</ellipsis>
              </ng-template>
            </nz-card-meta>
          </nz-card>
        </nz-col>
      </nz-radio-group>
      <div *ngIf="activeBlockPassword" style="width: 100%">
        <nz-col nzLg="24" nzMd="12" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="name"
              >Mật khẩu truy cập máy ảo
              <span class="text-red">*</span></nz-form-label
            >
            <nz-form-control
              nzErrorTip="Vui lòng nhập mật khẩu truy cập máy ảo"
            >
              <nz-input-group [nzSuffix]="suffixTemplate" style="width: 100%">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  placeholder="input password"
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }"
                />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i
                  nz-icon
                  [nzType]="'eye'"
                  (click)="passwordVisible = !passwordVisible"
                ></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col nzLg="24" nzMd="12" nzSm="24">
          <nz-alert
            nzType="warning"
            [nzMessage]="nzDescriptionWarning06"
            nzShowIcon
          ></nz-alert>
          <ng-template #nzDescriptionWarning06>
            <div>
              Quy tắc đặt mật khẩu: Độ dài của một mật khẩu được sử dụng trực
              tuyến cần phải chứa tối thiểu là 12 ký tự, sử dụng hỗn hợp bao gồm
              các chữ số, chữ hoa, chữ thường và ký hiệu đặc biệt.
            </div>
          </ng-template>
        </nz-col>
      </div>
      <div *ngIf="activeBlockSSHKey" style="width: 100%">
        <nz-col nzLg="24" nzMd="12" nzSm="24">
          <nz-form-item>
            <nz-form-label
              >Chọn SSH key <span class="text-red">*</span></nz-form-label
            >
            <nz-form-control nzErrorTip="Chọn  *">
              <nz-select
                [nzPlaceHolder]="'--Chọn SSH key--'"
                [nzShowSearch]="true"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="selectedSSHKeyName"
                (ngModelChange)="onSSHKeyChange($event)"
              >
                <nz-option
                  *ngFor="let i of listSSHKey"
                  [nzLabel]="i.displayName"
                  [nzValue]="i.displayName"
                />
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>

        <nz-col nzLg="24" nzMd="12" nzSm="24">
          <nz-alert
            nzType="warning"
            [nzMessage]="nzDescriptionWarning07"
            nzShowIcon
          ></nz-alert>
          <ng-template #nzDescriptionWarning07>
            <div>
              Chúng tôi khuyến cáo sử dụng SSH Key để đảm an toàn bảo mật cho
              máy chủ của quý khách. Thông tin hướng dẫn sử dụng về SSH key cho
              máy chủ có thể xem tại đây.
              <br />
              Mật khẩu đăng nhập vào máy chủ sẽ được tạo tự động và gửi vào
              email của quý khách khi máy chủ được tạo thành công
            </div>
          </ng-template>
        </nz-col>
      </div>
    </nz-row>

    <nz-row style="margin-top: 20px; margin-bottom: -25px" nzGutter="16">
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item style="margin-bottom: 5px">
          <nz-form-label
            >Thời hạn sử dụng (Tháng)
            <span class="text-red">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-row>
              <nz-input-number
                style="width: 50%"
                [nzMin]="1"
                [nzMax]="100"
                [nzStep]="1"
                [(ngModel)]="numberMonth"
                [ngModelOptions]="{ standalone: true }"
              ></nz-input-number>
              <div style="margin-left: 20px">
                Thời gian bắt đầu sử dụng: {{ today | date : 'dd/MM/yyyy' }}
              </div>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>

  <nz-card nzTitle="Block Storage">
    <div *ngIf="!activeBlockStorage">
      <nz-alert
        (click)="initBlockStorage()"
        nzType="success"
        [nzMessage]="customMgTemplateVolumn"
        nzDescription="Với các ứng dụng cần lưu trữ lớn, quý khách nên sử dụng ổ cứng
      gắn ngoài để đảm bảo về dữ liệu và khả năng mở rộng dễ
      dàng"
        [nzIcon]="customIconTemplateVolumn"
        nzShowIcon
      ></nz-alert>

      <ng-template #customIconTemplateVolumn>
        <div>+</div>
      </ng-template>
      <ng-template #customMgTemplateVolumn>
        <b>Bổ sung Volume</b>
      </ng-template>
    </div>
    <div *ngIf="activeBlockStorage">
      <nz-card nzHoverable>
        <div class="ant-table">
          <table>
            <thead class="ant-table-thead">
              <tr>
                <th>Loại Volumn</th>
                <th>Tên Volume</th>
                <th>VCPU</th>
                <th>RAM (GB)</th>
                <th>Dung lượng (GB)</th>
                <th>Mã hóa</th>
                <th>Multi Attach</th>
                <th>Giá theo tháng (VNĐ)</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="ant-table-tbody">
              <tr *ngFor="let data of listOfDataBlockStorage">
                <td>
                  <nz-select
                    nzPlaceHolder="Thêm ổ cứng"
                    name="inputBlockStorage"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="data.type"
                    [id]="'type_' + data.id"
                    (ngModelChange)="onInputBlockStorage(data.id, $event)"
                  >
                    <nz-option
                      *ngFor="let p of typeBlockStorage"
                      [nzValue]="p.value"
                      [nzLabel]="p.label"
                    ></nz-option>
                  </nz-select>
                </td>
                <td>
                  <input
                    type="text"
                    [ngModelOptions]="{ standalone: true }"
                    nz-input
                    [(ngModel)]="data.name"
                    [id]="'name_' + data.id"
                  />
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="data.vCPU"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'vCPU_' + data.id"
                    [nzMin]="0"
                    [nzMax]="62"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="data.ram"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'ram_' + data.id"
                    [nzMin]="0"
                    [nzMax]="62"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="data.capacity"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'capacity_' + data.id"
                    [nzMin]="0"
                    [nzMax]="100"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <label
                    nz-checkbox
                    [(ngModel)]="data.code"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'code_' + data.id"
                  ></label>
                </td>
                <td>
                  <label
                    nz-checkbox
                    [(ngModel)]="data.multiattach"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'multiattach_' + data.id"
                  ></label>
                </td>
                <td>
                  <label>
                    {{ data.price }}
                  </label>
                </td>
                <td>
                  <button
                    (click)="deleteRowBlockStorage(data.id)"
                    nz-button
                    nzType="primary"
                    nzDanger
                    *ngIf="data.type != ''"
                  >
                    Xóa
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nz-card>
    </div>
  </nz-card>

  <nz-card nzTitle="Network">
    <div *ngIf="!activeIPv4">
      <nz-alert
        (click)="initIPv4()"
        nzType="success"
        [nzMessage]="customMgTemplateNetwrok"
        nzDescription="Địa chỉ IP mà nhà cung cấp dịch vụ internet cung cấp cho router
      gia đình hoặc doanh nghiệp để kết nối với internet"
        [nzIcon]="customIconTemplateNetwrok"
        nzShowIcon
      ></nz-alert>

      <ng-template #customIconTemplateNetwrok>
        <div>+</div>
      </ng-template>
      <ng-template #customMgTemplateNetwrok>
        <b>Bổ sung IPv4</b>
      </ng-template>
    </div>
    <div *ngIf="activeIPv4">
      <nz-card nzHoverable>
        <div class="ant-table">
          <table>
            <thead class="ant-table-thead">
              <tr>
                <th>Dải IP</th>
                <th>Số lượng</th>
                <th>Giá theo tháng (VNĐ)</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="ant-table-tbody">
              <tr *ngFor="let data of listOfDataIPv4">
                <td>
                  <nz-select
                    style="width: 85%"
                    nzPlaceHolder="Chọn"
                    name="inputNetwork"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="data.ip"
                    [id]="'ip_' + data.id"
                    (ngModelChange)="onInputIPv4(data.id, $event)"
                  >
                    <nz-option
                      *ngFor="let p of listIPSubnetModel"
                      [nzValue]="p.id"
                      [nzLabel]="p.displayName"
                    ></nz-option>
                  </nz-select>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="data.amount"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'amount_' + data.id"
                    [nzMin]="0"
                    [nzMax]="7"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <label>
                    {{ data.price }}
                  </label>
                </td>
                <td>
                  <button
                    (click)="deleteRowIPv4(data.id)"
                    nz-button
                    nzType="primary"
                    nzDanger
                    *ngIf="data.ip != ''"
                  >
                    Xóa
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nz-card>
    </div>
    <div style="margin-top: 5px" *ngIf="!activeIPv6">
      <nz-alert
        (click)="initIPv6()"
        nzType="success"
        [nzMessage]="customMgTemplateNetwrok"
        nzDescription="Địa chỉ IP mà nhà cung cấp dịch vụ internet cung cấp cho router
      gia đình hoặc doanh nghiệp để kết nối với internet"
        [nzIcon]="customIconTemplateNetwrok"
        nzShowIcon
      ></nz-alert>

      <ng-template #customIconTemplateNetwrok>
        <div>+</div>
      </ng-template>
      <ng-template #customMgTemplateNetwrok>
        <b>Bổ sung IPv6</b>
      </ng-template>
    </div>
    <div *ngIf="activeIPv6">
      <nz-card nzHoverable>
        <div class="ant-table">
          <table>
            <thead class="ant-table-thead">
              <tr>
                <th>Dải IP</th>
                <th>Số lượng</th>
                <th>Giá theo tháng (VNĐ)</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="ant-table-tbody">
              <tr *ngFor="let data of listOfDataIPv6">
                <td>
                  <nz-select
                    style="width: 85%"
                    nzPlaceHolder="Chọn"
                    name="inputNetwork"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="data.ip"
                    [id]="'ip_' + data.id"
                    (ngModelChange)="onInputIPv6(data.id, $event)"
                  >
                    <nz-option
                      *ngFor="let p of listIPSubnetModel"
                      [nzValue]="p.id"
                      [nzLabel]="p.displayName"
                    ></nz-option>
                  </nz-select>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="data.amount"
                    [ngModelOptions]="{ standalone: true }"
                    [id]="'amount_' + data.id"
                    [nzMin]="0"
                    [nzMax]="7"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <label>
                    {{ data.price }}
                  </label>
                </td>
                <td>
                  <button
                    (click)="deleteRowIPv6(data.id)"
                    nz-button
                    nzType="primary"
                    nzDanger
                    *ngIf="data.ip != ''"
                  >
                    Xóa
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nz-card>
    </div>
  </nz-card>
</form>
<nz-card nzTitle="Thành tiền" [nzExtra]="extraTemplate">
  <div>
    <nz-table>
      <tr>
        <td>Chi phí máy ảo ( 1 tháng )</td>
        <td class="float-right">1.000.000 VNĐ</td>
      </tr>
      <tr>
        <td>Chi phí Volume bổ sung (1 tháng)</td>
        <td class="float-right">1.000.000 VNĐ</td>
      </tr>
      <tr>
        <td>Thành tiền ( Đã bao gồm 10% VAT)</td>
        <td class="float-right">1.000.000 VNĐ</td>
      </tr>
    </nz-table>
    <div style="float: right; padding-top: 1%">
      <button nz-button nzType="default" (click)="cancel()">Quay lại</button>
      <button
        nz-button
        nzType="primary"
        [disabled]="form.invalid"
        (click)="save()"
      >
        Tạo máy ảo
      </button>
    </div>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <a>More</a>
</ng-template>
