<page-header [title]="'Thông tin tài khoản'"/>

<nz-card nzTitle="Điều chỉnh/Cập nhật thông tin tài khoản">
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">

    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Họ</nz-form-label>
          <nz-form-control nzErrorTip="Họ không đuược để trống và chứa kí tự đặc biệt!">
            <input maxlength="20" nz-input formControlName="surname" placeholder="Họ"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Tên</nz-form-label>
          <nz-form-control nzErrorTip="Tên không được để trống và chứa kí tự đặc biệt!">
            <input nz-input formControlName="name" placeholder="Tên"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Email</nz-form-label>
          <nz-form-control nzErrorTip="Email không hợp lệ!">
            <input nz-input formControlName="email" placeholder="Email"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Số điện thoại</nz-form-label>
          <nz-form-control nzErrorTip="Số điện thoại không hợp lệ!">
            <input nz-input formControlName="phone" placeholder="Số điện thoại"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>


    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Mã khách hàng</nz-form-label>
          <nz-form-control nzErrorTip="Mã khách hàng">
            <input [disabled]="true" nz-input formControlName="customer_code" placeholder="Mã khách hàng"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Mã hợp đồng</nz-form-label>
          <nz-form-control nzErrorTip="Mã hợp đồng">
            <input nz-input formControlName="contract_code" placeholder="Mã hợp đồng"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Tỉnh/Thành phố</nz-form-label>
          <nz-form-control nzErrorTip="Tỉnh/Thành phố">
            <input nz-input formControlName="province" placeholder="Tỉnh/Thành phố"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzRequired>Địa chỉ</nz-form-label>
          <nz-form-control nzErrorTip="Địa chỉ không được để trống và chứa kí tự đặc biệt!">
            <input maxlength="255" nz-input formControlName="address" placeholder="Địa chỉ"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>Mật khẩu cũ</nz-form-label>
          <nz-form-control nzErrorTip="Mật khẩu cũ không đúng!">
            <input  type="password" (change)="onOldPassChange($event)" nz-input formControlName="old_password"
                   placeholder="Mật khẩu cũ"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>Mật khẩu mới</nz-form-label>
          <nz-form-control
            nzErrorTip="Mật khẩu có 8-16 ký tự, gồm ít nhất 1 chữ viết thường, 1 chữ viết hoa, 1 ký tự đặc biệt, 1 chữ số, không trùng mật khẩu cũ">
            <input type="password" (ngModelChange)="updateConfirmValidator()" minlength="8" maxlength="16" nz-input
                   formControlName="new_password" placeholder="Mật khẩu mới"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-row nzGutter="16">
      <nz-col nzOffset="1" nzLg="8" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>Nhập lại mật khẩu mới</nz-form-label>
          <nz-form-control nzErrorTip="Mật khẩu không khớp!">
            <input type="password" nz-input (change)="onRetypePassChange($event)" formControlName="confirm_password"
                   placeholder="Nhập lại mật khẩu mới"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <div nz-row class="mb-md">
      <div nz-col nzSpan="24">
        <div class="text-right">
          <button type="button" nz-button routerLink="/">Quay trở lại</button>
          <button nz-button [nzType]="'primary'" [disabled]="form.invalid">Chỉnh sửa</button>
        </div>
      </div>
    </div>

  </form>
</nz-card>


