<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Thêm Users vào Group'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        IAM
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [href]="'/app-smart-cloud/iam/user-group'">User Groups</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [href]="'/app-smart-cloud/iam/user-group/' + nameGroup">{{ nameGroup }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Add Users
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
    <nz-card nzTitle="Những Users khác chưa có trong Group">
        <nz-row nzAlign="middle" nzJustify="space-between" style="margin-bottom: 22px">
            <nz-space [nzSize]="24">
                <div *nzSpaceItem>
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                        <input style="width: 300px;" [(ngModel)]="value" (input)="onInputChange($event.target['value'])" type="text" nz-input
                               placeholder="Tìm kếm tên..."/>
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button nz-button nzType="primary" nzSearch>
                            <span nz-icon nzType="search" nzTheme="outline"></span>Search
                        </button>
                    </ng-template>
                </div>
            </nz-space>
            <nz-row nzAlign="middle">
                <button nz-button nzSize="default" style="cursor: pointer;" (click)="getUsers()">
                    <span nz-icon nzType="reload" nzTheme="outline"></span>
                </button>
            </nz-row>
        </nz-row>
        <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            nzShowPagination
            [nzData]="listUsersUnique"
            [nzLoading]="loading"
            (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
            <tr>
                <th
                        [nzChecked]="checked"
                        [nzIndeterminate]="indeterminate"
                        nzLabel="Select all"
                        (nzCheckedChange)="onAllChecked($event)"
                ></th>
                <th>Name</th>
                <th [nzWidth]="'207px'">Group</th>
                <th>Thời gian tạo</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td
                        [nzChecked]="setOfCheckedId.has(data.userName)"
                        (nzCheckedChange)="onItemChecked(data.userName, $event)"
                ></td>
                <td>
                    <a [href]="'/app-smart-cloud/iam/user-group/' + data.userName">{{ data.userName }}</a>
                </td>
                <td>{{ data.userGroups }}</td>
                <td>{{ data.createdDate | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
            </tr>
            </tbody>
        </nz-table>
        <nz-form-item nzAlign="bottom" nzJustify="end" style="margin-top: 48px">
            <nz-space nzSize="middle">
                <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-cancel">Quay lại</button>
            </nz-space>
            <nz-space nzSize="middle" style="margin-left: 5px">
                <button nz-button nzType="primary" [nzLoading]="loading" class="button-create"  (click)="create()">Thêm Users</button>
            </nz-space>
        </nz-form-item>
    </nz-card>
</nz-content>
