<page-header [extra]="extra" [content]="content" [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Danh sách lịch Backup'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/schedule/list">Lập lịch Backup</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>

  <ng-template #content>
    <nz-space [nzSize]="24">
      <div style="margin-right: 10px;">Trạng thái</div>
      <div *nzSpaceItem>
        <nz-select [(ngModel)]="selectedValue"
                   (ngModelChange)="onChange($event)"
                   nzPlaceHolder="Tất cả trạng thái">
          <nz-option *ngFor="let item of status" [nzValue]="item.value"
                     [nzLabel]="item.label"></nz-option>
        </nz-select>
      </div>
      <div *nzSpaceItem>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input style="width: 380px;" [(ngModel)]="value" (input)="onInputChange($event.target['value'])"
                 type="text" nz-input
                 placeholder="Tìm kếm tên..."/>
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSearch (click)="getListScheduleBackup()">
            <span nz-icon nzType="search" nzTheme="outline"></span>
            Search
          </button>
        </ng-template>
      </div>
    </nz-space>
  </ng-template>

  <ng-template #extra>
    <button nz-button class="button-create" nzSize="default" style="cursor: pointer; margin-left: 5px;"
            (click)="navigateToCreate()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      Tạo mới
    </button>
  </ng-template>


</page-header>
<nz-content>
  <nz-card>
    <div>
      <nz-table #tableScheduleBackup
                [nzData]="response?.records"
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzTotal]="response?.totalCount"
                [nzPageSize]="response?.pageSize"
                [nzPageIndex]="response?.currentPage"
                [nzLoading]="isLoading"
                (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
        <tr>
          <th>Tên</th>
          <th>Đối tượng backup</th>
          <th>Số bản ghi tối đa</th>
          <th nzAlign="center">Trạng thái</th>
          <th>Lần backup tiếp theo</th>
          <th>Ngày tạo</th>
          <th nzAlign="center">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of tableScheduleBackup.data">
          <td>{{ data.name }}</td>
          <td>
            <span *ngIf="data.serviceType === 1">VM - {{ data.serviceName }}</span>
            <span *ngIf="data.serviceType === 2">Volume - {{ data.serviceName }}</span>
          </td>
          <td>{{ data.maxBackup }}</td>
          <td nzAlign="center">
            <div class="status" [ngSwitch]="data.status">
              <div *ngIf="data.warningMessage !== null">
                <div *ngSwitchCase="'ACTIVE'">
                  <span class="active">Hoạt động</span>
                  <br>
                  <span style="text-align: center">{{ data.warningMessage }}</span>
                </div>
                <div *ngSwitchCase="'DISABLED'">
                  <span class="disabled">Gián đoạn</span>
                  <br>
                  <span style="text-align: center"> {{ data.warningMessage }}</span>
                </div>
                <div *ngSwitchCase="'PAUSED'">
                  <span class="paused">Tạm dừng</span>
                  <br>
                  <span style="text-align: center">{{ data.warningMessage }}</span>
                </div>
              </div>
              <div *ngIf="data.warningMessage === null">
                <div *ngSwitchCase="'ACTIVE'">
                  <span class="active">Hoạt động</span>
                </div>
                <div *ngSwitchCase="'DISABLED'">
                  <span class="disabled">Gián đoạn</span>
                </div>
                <div *ngSwitchCase="'PAUSED'">
                  <span class="paused">Tạm dừng</span>
                </div>
              </div>
            </div>
          </td>
          <td>{{ data.nextRuntime | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
          <td>{{ data.createdAt | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
          <td nzAlign="center">
            <div [ngSwitch]="data.status">
              <div *ngSwitchCase="'ACTIVE'">
                <nz-select
                  [nzPlaceHolder]="'Chọn thao tác'"
                  ngModel="selectedOptionAction"
                  name="selectedAction"
                  (ngModelChange)="selectedOptionActionChange($event, data)">
                  <nz-option
                    nzValue="1"
                    nzLabel="Chỉnh sửa"
                  ></nz-option>
                  <nz-option nzValue="2" nzLabel="Tạm dừng"
                             (click)="showModalPaused(data.id)"></nz-option>
                  <nz-modal [(nzVisible)]="isVisiblePaused" nzTitle="Xác nhận tạm dừng lịch backup"
                            (nzOnCancel)="handlePausedCancel()" nzCentered>
                    <div *nzModalTitle>
                      <p class="text-h5"><b>Xác nhận tạm dừng lịch backup</b></p>
                    </div>
                    <div *nzModalContent>
                      <p class="text-p">Qúy khách có chắc chắn muốn tạm dừng lịch backup</p>
                    </div>
                    <div *nzModalFooter>
                      <button nz-button nzType="default" (click)="handlePausedCancel()"
                              class="button-cancel">Hủy
                      </button>
                      <button nz-button nzType="primary" (click)="handlePausedOk()"
                              [nzLoading]="isLoadingModalPaused"
                              class="button-ok">Đồng ý
                      </button>
                    </div>
                  </nz-modal>
                  <nz-option nzValue="3" nzLabel="Xóa" (click)="showModalDelete(data.id)"></nz-option>
                  <one-portal-delete-schedule
                    [isVisible]="isVisibleDelete"
                    [isLoading]="isLoadingDelete"
                    (onOk)="handleDeletedOk()"
                    (onCancel)="handleDeleteCancel()"/>
                </nz-select>
              </div>
              <div *ngSwitchCase="'DISABLED'">
                <nz-select
                  [nzPlaceHolder]="'Chọn thao tác'"
                  ngModel="selectedOptionAction"
                  name="selectedAction"
                  (ngModelChange)="selectedOptionActionChange($event, data)">
                  <nz-option
                    nzValue="4"
                    nzLabel="Khôi phục"
                    (click)="showModalRestore(data.id)"></nz-option>
                  <nz-modal [(nzVisible)]="isVisibleRestore"
                            nzTitle="Khôi phục lập lịch backup bị tạm dừng"
                            (nzOnCancel)="handleRestoreCancel()" nzCentered>
                    <div *nzModalTitle>
                      <p class="text-h5"><b>Khôi phục lập lịch backup bị tạm dừng</b></p>
                    </div>
                    <div *nzModalContent>
                      <p class="text-p">Qúy khách có chắc chắn muốn khôi phục lại lịch backup về
                        trạng thái ban đầu</p>
                    </div>
                    <div *nzModalFooter>
                      <button nz-button nzType="default" (click)="handleRestoreCancel()"
                              class="button-cancel">Hủy
                      </button>
                      <button nz-button nzType="primary" (click)="handleRestoredOk()"
                              [nzLoading]="isLoadingRestore"
                              class="button-ok">Đồng ý
                      </button>
                    </div>
                  </nz-modal>
                  <nz-option nzValue="3" nzLabel="Xóa"></nz-option>
                </nz-select>
              </div>
              <div *ngSwitchCase="'PAUSED'">
                <nz-select
                  [nzPlaceHolder]="'Chọn thao tác'"
                  ngModel="selectedOptionAction"
                  name="selectedAction"
                  (ngModelChange)="selectedOptionActionChange($event, data)">
                  <nz-option nzValue="5" nzLabel="Tiếp tục"
                             (click)="showModalPlay(data.id)"></nz-option>
                  <nz-modal [(nzVisible)]="isVisiblePlay"
                            nzTitle="Xác nhận tiếp tục lịch backup đã tạm dừng"
                            (nzOnCancel)="handlePlayCancel()" nzCentered>
                    <div *nzModalTitle>
                      <p class="text-h5"><b>Xác nhận tiếp tục lịch backup đã tạm dừng</b></p>
                    </div>
                    <div *nzModalContent>
                      <p class="text-p">Qúy khách có chắc chắn muốn tiếp tục lịch backup</p>
                    </div>
                    <div *nzModalFooter>
                      <button nz-button nzType="default" (click)="handlePlayCancel()"
                              class="button-cancel">Hủy
                      </button>
                      <button nz-button nzType="primary" (click)="handlePlaydOk()"
                              [nzLoading]="isLoadingPlay"
                              class="button-ok">Đồng ý
                      </button>
                    </div>
                  </nz-modal>
                  <nz-option nzValue="3" nzLabel="Xóa"></nz-option>
                </nz-select>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <div style="margin-top: 30px;">
      <h3>Thông tin dung lượng Backup</h3>
      <nz-table #tableScheduleCapacityBackup
                [nzData]="responseCapacityBackup"
                nzShowSizeChanger
                [nzLoading]="loadingCapacity">
        <thead>
        <tr>
          <th>Tên Backup</th>
          <th>Hết hạn</th>
          <th>Dung lượng (GB)</th>
          <th>Đã dùng (GB)</th>
          <th>Còn lại (GB)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of tableScheduleCapacityBackup.data">
          <td>{{i.packageName}}</td>
          <td>{{i.expirationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{i.totalCapacity}}</td>
          <td>{{i.usedCapacity}}</td>
          <td>{{i.remainingCapacity}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</nz-content>
