<page-header
  [extra]="extra"
  [content]="content"
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Danh sách thanh toán'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item> Billing </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/billing/invoices">Thanh toán</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="regionChanged($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        (valueChanged)="projectChanged($event)"
        [regionId]="region"
      ></project-select-dropdown>
    </div>
  </ng-template>
  <ng-template #content>
    <nz-space [nzSize]="24">
      <div *nzSpaceItem>
        <nz-select
          [(ngModel)]="selectedValue"
          (ngModelChange)="onChange($event)"
          nzPlaceHolder="Tất cả trạng thái"
        >
          <nz-option
            *ngFor="let item of status"
            [nzValue]="item.value"
            [nzLabel]="item.label"
          ></nz-option>
        </nz-select>
      </div>
      <div *nzSpaceItem>
        <nz-range-picker
          [nzPlaceHolder]="['Từ ngày', 'Đến ngày']"
          [(ngModel)]="dateRange"
          (ngModelChange)="onDateRangeChange($event)"
          [nzDisabledDate]="disabledDate"
          [nzFormat]="dateFormat"
        ></nz-range-picker>
      </div>
      <div *nzSpaceItem>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
          <input
            style="width: 380px"
            [(ngModel)]="value"
            (input)="onInputChange($event.target['value'])"
            type="text"
            nz-input
            placeholder="Tìm kiếm mã thanh toán, mã đơn hàng"
          />
        </nz-input-group>
        <ng-template #suffixButton>
          <button
            nz-button
            nzType="primary"
            nzSearch
            (click)="getListInvoices()"
          >
            <span nz-icon nzType="search" nzTheme="outline"></span>
            Search
          </button>
        </ng-template>
      </div>
    </nz-space>
  </ng-template>
  <ng-template #extra>
    <button
      nz-button
      nzSize="default"
      style="cursor: pointer; margin-left: 5px"
    >
      <span nz-icon nzType="download" nzTheme="outline"></span>
      Download
    </button>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="listFilteredData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzLoading]="isLoading"
      [nzTotal]="response?.totalCount"
      [nzPageSize]="response?.pageSize"
      [nzPageIndex]="response?.currentPage"
    >
      <thead>
        <tr>
          <th
            [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Mã thanh toán</th>
          <th>Mã đơn hàng</th>
          <th>Tổng tiền (VNĐ)</th>
          <th>Ngày tạo</th>
          <th>Trạng thái</th>
          <th>Download Hóa dơn/ Hóa đơn nháp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td
            [nzChecked]="setOfCheckedId.has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, $event)"
          ></td>
          <td class="text-blue" (click)="getPayMentDetail(data.id)">
            {{ data.paymentNumber }}
          </td>
          <td>{{ data.orderNumber }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ data.createdDate | date : 'dd/MM/yyyy - HH:mm:ss' }}</td>
          <td *ngIf="data.paymentLatestStatus === 'PAID'" class="paid">
            Đã thanh toán
          </td>
          <td *ngIf="data.paymentLatestStatus != 'PAID'" class="not">
            Chưa thanh toán
          </td>
          <td
            [nzAlign]="'left'"
            style="cursor: pointer"
            (click)="download(data.invoiceIssuedId)"
          >
            <span nz-icon nzType="download" nzTheme="outline"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
