<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Thêm User vào Group'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Home</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users']">Users</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users/detail/' + userName]"
          >Chi tiết User</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Add to Groups </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="regionId"
        (valueChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false" nzTitle="Thông tin Groups">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
    <div
      nz-col
      [nzLg]="10"
      [nzMd]="10"
      [nzSm]="24"
      [nzXl]="10"
      [nzXs]="24"
      [nzXXl]="10"
    >
      <nz-input-group
        style="width: 100%"
        nzSearch
        [nzAddOnAfter]="suffixButton"
      >
        <input
          name="name"
          nz-input
          placeholder="Tìm kiếm tên, thời gian tạo ..."
          [ngModel]="searchParam"
          (ngModelChange)="changeSearch($event)"
        />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="getGroup()">
          <i nz-icon nzType="search"></i>
          Search
        </button>
      </ng-template>
    </div>
    <div
      class="text-right p-0 m-b-0"
      nz-col
      [nzLg]="14"
      [nzMd]="14"
      [nzSm]="24"
      [nzXl]="14"
      [nzXs]="24"
      [nzXXl]="14"
    >
      <button
        class="m-r-8"
        nz-button
        style="cursor: pointer"
        (click)="reloadGroupTable()"
      >
        <span nz-icon nzType="reload" nzTheme="outline"></span>
      </button>
      <button
        class="m-r-8"
        class="bg-success border-success"
        nz-button
        nzType="primary"
        (click)="navigateToCreateGroup()"
      >
        <i nz-icon nzType="plus"></i>
        Tạo mới
      </button>
    </div>
  </div>
  <nz-table
    style="margin-top: 2%"
    #rowSelectionTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="listOfGroups"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="getGroup()"
    (nzPageSizeChange)="getGroup()"
  >
    <thead>
      <tr>
        <th style="width: 20px">
          <input
            nz-input
            type="checkbox"
            (change)="onChangeCheckAllGroup($event.target.checked)"
            [(ngModel)]="checkedAllInPage"
          />
        </th>
        <th>Tên Group</th>
        <th>Số lượng User</th>
        <th>Attached policies</th>
        <th>Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfGroups; let i = index">
        <td>
          <input
            nz-input
            type="checkbox"
            (change)="onClickGroupItem(item.name, item)"
            [(ngModel)]="listCheckedGroupInPage[i]"
          />
        </td>
        <td class="fieldColor">{{ item.name }}</td>
        <td>{{ item.numberOfUser }}</td>
        <td *ngIf="item.policies.length == 0">None</td>
        <td class="fieldColor" *ngIf="item.policies.length == 1">
          {{ item.policies[0] }}
        </td>
        <td class="fieldColor" *ngIf="item.policies.length == 2">
          {{ item.policies[0] }}, {{ item.policies[1] }}
        </td>
        <td class="fieldColor" *ngIf="item.policies.length > 2">
          {{ item.policies[0] }}, {{ item.policies[1] }}
          <span class="nameField">
            and {{ item.policies.length - 2 }} policies
          </span>
        </td>
        <td>{{ item.createdDate | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
  <div
    class="text-right p-0 m-b-0"
    nz-col
    [nzLg]="24"
    [nzMd]="24"
    [nzSm]="24"
    [nzXl]="24"
    [nzXs]="24"
    [nzXXl]="24"
  >
    <button
      class="m-r-8"
      nz-button
      nzType="default"
      style="background-color: #9c9c9c; color: white"
      (click)="navigateToDetail()"
    >
      Quay lại
    </button>
    <button class="m-r-8" nz-button nzType="primary" (click)="addToGroups()">
      Add to Groups
    </button>
  </div>
</div>
