<h1 class="text-font text-title ">{{ 'app.register.register' | i18n }}</h1>
<p class="text-font text-des"> {{ 'app.register.des' | i18n }} </p>


<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"/>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mailErrorTip">
      <nz-form-label [nzSm]="6" [nzXs]="24">Email đăng ký</nz-form-label>
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input nz-input formControlName="mail" placeholder="Nhập e-mail đăng ký"/>
      </nz-input-group>
      <ng-template #mailErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.email.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.email">{{ 'validation.email.wrong-format' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="'validation.password.required' | i18n">
      <nz-form-label [nzSm]="6" [nzXs]="24">Mật khẩu</nz-form-label>
      <nz-input-group
        nzSize="large"
        nzAddonBeforeIcon="lock"
        nz-popover
        nzPopoverPlacement="right"
        nzPopoverTrigger="focus"
        [(nzPopoverVisible)]="visible"
        nzPopoverOverlayClassName="register-password-cdk"
        [nzPopoverOverlayStyle]="{ 'width.px': 240 }"
        [nzPopoverContent]="pwdCdkTpl"
      >
        <input nz-input type="password" formControlName="password" placeholder="Password"/>
      </nz-input-group>
      <ng-template #pwdCdkTpl>
        <div style="padding: 4px 0">
          <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | i18n }}</div>
            <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | i18n }}</div>
            <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | i18n }}</div>
          </ng-container>
          <div class="progress-{{ status }}">
            <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6"
                         [nzShowInfo]="false"/>
          </div>
          <p class="mt-sm">{{ 'validation.password.strength.msg' | i18n }}</p>
        </div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-form-label>Nhập lại mật mật khẩu</nz-form-label>
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
        <input nz-input type="password" formControlName="confirm" placeholder="Nhập lại mật mật khẩu"/>
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.confirm-password.required' | i18n }}</ng-container>
        <ng-container *ngIf="i.errors?.matchControl">{{ 'validation.password.twice' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!--  <nz-form-item>-->
  <!--    <nz-form-control [nzErrorTip]="mobileErrorTip">-->
  <!--      <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">-->
  <!--        <ng-template #addOnBeforeTemplate>-->
  <!--          <nz-select formControlName="mobilePrefix" style="width: 100px">-->
  <!--            <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"/>-->
  <!--            <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"/>-->
  <!--          </nz-select>-->
  <!--        </ng-template>-->
  <!--        <input formControlName="mobile" nz-input placeholder="Phone number"/>-->
  <!--      </nz-input-group>-->
  <!--      <ng-template #mobileErrorTip let-i>-->
  <!--        <ng-container *ngIf="i.errors?.required">{{ 'validation.phone-number.required' | i18n }}</ng-container>-->
  <!--        <ng-container *ngIf="i.errors?.pattern">{{ 'validation.phone-number.wrong-format' | i18n }}</ng-container>-->
  <!--      </ng-template>-->
  <!--    </nz-form-control>-->
  <!--  </nz-form-item>-->
  <!--  <nz-form-item>-->
  <!--    <nz-form-control [nzErrorTip]="'validation.verification-code.required' | i18n">-->
  <!--      <nz-row [nzGutter]="8">-->
  <!--        <nz-col [nzSpan]="16">-->
  <!--          <nz-input-group nzSize="large" nzAddonBeforeIcon="mail">-->
  <!--            <input nz-input formControlName="captcha" placeholder="Captcha"/>-->
  <!--          </nz-input-group>-->
  <!--        </nz-col>-->
  <!--        <nz-col [nzSpan]="8">-->
  <!--          <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count > 0" nzBlock-->
  <!--                  [nzLoading]="loading">-->
  <!--            {{ count ? count + 's' : ('app.register.get-verification-code' | i18n) }}-->
  <!--          </button>-->
  <!--        </nz-col>-->
  <!--      </nz-row>-->
  <!--    </nz-form-control>-->
  <!--  </nz-form-item>-->

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="nameErrorTip">
          <nz-form-label [nzSm]="6" [nzXs]="24">Tên</nz-form-label>
          <nz-input-group nzSize="large">
            <input nz-input formControlName="firstName" placeholder="Nhập tên"/>
          </nz-input-group>
          <ng-template #nameErrorTip let-i>
            <ng-container *ngIf="i.errors?.required">{{ 'validation.firstName.required' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="lastNameErrorTip">
          <nz-form-label [nzSm]="6" [nzXs]="24">Họ</nz-form-label>
          <nz-input-group nzSize="large">
            <input nz-input formControlName="lastName" placeholder="Nhập họ"/>
          </nz-input-group>
          <ng-template #lastNameErrorTip let-i>
            <ng-container *ngIf="i.errors?.required">{{ 'validation.lastName.required' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <nz-form-item>
    <nz-form-control [nzErrorTip]="provinceErrorTip">
      <nz-form-label>Chọn Tỉnh/Thành</nz-form-label>
      <nz-input-group nzSize="large">
        <nz-select nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Chọn tỉnh thành" formControlName="province">
          <nz-option [nzLabel]="'Hà Nội'" [nzValue]="'Hà Nội'"/>
          <nz-option [nzLabel]="'TP. Hồ Chí Minh'" [nzValue]="'TP. Hồ Chí Minh'"/>
        </nz-select>

      </nz-input-group>
      <ng-template #provinceErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.province.required' | i18n }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-collapse class="top-bot-border" style="width: 100%" [nzGhost]="true" [nzBordered]="false"
                 [nzExpandIconPosition]="'right'">
      <nz-collapse-panel
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled">


        <nz-form-item>
          <nz-form-control [nzErrorTip]="mobileErrorTip">
            <nz-form-label>Số điện thoại</nz-form-label>
            <nz-input-group nzSize="large">
              <!--              <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">-->
              <!--                <ng-template #addOnBeforeTemplate>-->
              <!--                  <nz-select formControlName="mobilePrefix" style="width: 100px">-->
              <!--                    <nz-option [nzLabel]="'+84'" [nzValue]="'+84'"/>-->
              <!--&lt;!&ndash;                    <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"/>&ndash;&gt;-->
              <!--                  </nz-select>-->
              <!--                </ng-template>-->
              <input formControlName="mobile" nz-input placeholder="Phone number"/>
            </nz-input-group>
            <ng-template #mobileErrorTip let-i>
              <ng-container *ngIf="i.errors?.required">{{ 'validation.phone-number.required' | i18n }}</ng-container>
              <ng-container *ngIf="i.errors?.pattern">{{ 'validation.phone-number.wrong-format' | i18n }}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>


      </nz-collapse-panel>
    </nz-collapse>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="agreement">
        <span>{{ 'app.register.agreement' | i18n }}</span>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading" class="submit">
      {{ 'app.register.register' | i18n }}
    </button>

  </nz-form-item>

  <nz-form-item>
    <a class="login" routerLink="/passport/login"> <span
      style="color: #555555">Bạn đã có tài khoản,</span> {{ 'app.register.sign-in' | i18n }}</a>
  </nz-form-item>
</form>
