<nz-modal
  nzTitle="Tắt máy ảo"
  [nzFooter]="modalFooter7"
>
  <ng-container *nzModalContent>
    <p>{{title}}</p>
  </ng-container>
  <ng-template #modalFooter7>
    <button nz-button nzType="default" >Hủy</button>
    <button nz-button nzType="primary" >Xác nhận</button>
  </ng-template>
</nz-modal>

<!-- <nz-form-item>
    <nz-form-label>Danh sách VLAN</nz-form-label> {{title}}
    <nz-form-control>
      <nz-select
      [nzPlaceHolder]="'-- Chọn VLAN --'"
      [nzShowSearch]="true"
    >
      <nz-option
        *ngFor="let i of listVLAN"
        [nzLabel]="i.text"
        [nzValue]="i.id"
      />
    </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <div><a>Nhập IP Address</a></div>
  </nz-form-item>
  <nz-alert
    nzType="warning"
    [nzMessage]="customTemplateMessageGanVLAN"
    nzShowIcon
  ></nz-alert>
  <ng-template #customTemplateMessageGanVLAN>
    <div>
      Trong trường hợp 1 Network của quý khách có nhiều subnet, quý khách cần
      lựa chọn subnet và điền IP muốn gán cho máy ảo. Khi quý khách nhạp IP vui
      lòng chọn IP chưa được sửa dụng bởi máy ảo nào và IP này thuộc dải IP được
      cấu hình trong Subnet tương ứng
    </div>
  </ng-template>
  <br /> -->