<nz-modal [(nzVisible)]="isVisible" nzTitle="Xóa Allowed Address Pair"
          (nzOnCancel)="handleCancel()" nzCentered [nzWidth]="560" [nzStyle]="modalStyle">
    <div *nzModalTitle>
        <p class="text-h5"><b>Xoá Allowed Address Pair</b></p>
    </div>
    <div *nzModalContent>
        <p class="text-p">Vui lòng cân nhắc thật kỹ trước khi click nút
            <b class="text-b">Đồng ý</b>.
            Quý khách chắc chắn muốn thực hiện xóa Allowed Address Pair?</p>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">Hủy
        </button>
        <button nz-button nzType="primary" (click)="handleOk()"
                [nzLoading]="isLoading"
                class="button-ok">Đồng ý
        </button>
    </div>
</nz-modal>
