<page-header>
  <nz-breadcrumb style="float: left">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/app-smart-cloud/instances']">Quản lý máy ảo</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> Chỉnh sửa máy ảo </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="text-right">
    <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="region"
      (valueChanged)="onProjectChange($event)"
    ></project-select-dropdown>
  </div>
  <div>
    <nz-row style="margin-bottom: -10px">
      <h1 style="width: 50%; font-size: 20px">Chỉnh sửa máy ảo</h1>
      <div class="text-right non-pointer" style="width: 50%">
        <button
          nz-button
          [nzType]="'primary'"
          (click)="navigateToCreate()"
          class="bg-success border-success"
        >
          <i nz-icon nzType="plus"></i> <span>Thêm mới</span>
        </button>
        <one-portal-instances-btn [instancesId]="id" style="margin-left: 2%">
        </one-portal-instances-btn>
      </div>
    </nz-row>
  </div>
</page-header>

<form nz-form [nzLayout]="'vertical'" *ngIf="instancesModel">
  <nz-card [nzBordered]="false" nzTitle="Thông tin máy ảo">
    <nz-row nzGutter="16">
      <div style="width: 100%">
        <nz-alert
          nzType="warning"
          [nzMessage]="nzDescriptionWarning01"
          nzShowIcon
        ></nz-alert>
        <ng-template #nzDescriptionWarning01>
          <div>Host name không thay đổi khi điều chỉnh tên máy ảo</div>
        </ng-template>
      </div></nz-row
    >
    <br />
    <nz-row nzGutter="16">
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name"
            >Tên máy ảo<span class="text-red">*</span></nz-form-label
          >
          <nz-form-control nzErrorTip="Vui lòng nhập tên máy ảo">
            <input
              nz-input
              [(ngModel)]="instancesModel.name"
              id="name"
              placeholder="Nhập tên máy ảo"
              [ngModelOptions]="{ standalone: true }"
            />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <br />
    <nz-row nzGutter="16">
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name"
            >Hệ điều hành: {{ instancesModel.imageName }}
            <a
              class="text-blue"
              (click)="navigateToChangeImage()"
              style="margin-left: 15px"
            >
              <img src="assets/imgs/undo.png" alt="" /><span
                style="margin-left: 15px"
                >Thay đổi</span
              ></a
            >
          </nz-form-label>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <h6 class="h6">Chọn loại Volume <span class="text-red">*</span></h6>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-radio-group
        style="width: 100%; display: inline-flex"
        name="selectedHDDorSSD"
      >
        <nz-col nzXs="24" nzMd="12">
          <nz-card
            [nzAlign]="'middle'"
            [ngStyle]="{
              'background-color': activeBlockHDD ? '#e6f7ff' : '#fcfcfc'
            }"
          >
            <nz-card-meta
              [nzAvatar]="nzAvatarselectedHDDorSSD1"
              [nzTitle]="nzTitleselectedHDDorSSD1"
              [nzDescription]="nzDescriptionselectedHDDorSSD1"
            >
              <ng-template #nzAvatarselectedHDDorSSD1>
                <input
                  type="radio"
                  [disabled]="true"
                  [checked]="activeBlockHDD"
                  (click)="initHDD()"
                />
              </ng-template>
              <ng-template #nzTitleselectedHDDorSSD1>
                <b>HDD</b>
              </ng-template>
              <ng-template #nzDescriptionselectedHDDorSSD1>
                <ellipsis>
                  Lựa chọn tốt hơn nếu bạn đang đối phó với các bản sao lưu dữ
                  liệu,<br />
                  lưu trữ dữ liệu hoặc khối lượng công việc chuyên sâu thông
                  lượng</ellipsis
                >
              </ng-template>
            </nz-card-meta>
          </nz-card></nz-col
        >
        <nz-col nzXs="24" nzMd="12">
          <nz-card
            [nzAlign]="'middle'"
            [ngStyle]="{
              'background-color': activeBlockSSD ? '#e6f7ff' : '#fcfcfc'
            }"
          >
            <nz-card-meta
              [nzAvatar]="nzAvatarselectedHDDorSSD2"
              [nzTitle]="nzTitleselectedHDDorSSD2"
              [nzDescription]="nzDescriptionselectedHDDorSSD2"
            >
              <ng-template #nzAvatarselectedHDDorSSD2>
                <input
                  type="radio"
                  [disabled]="true"
                  [checked]="activeBlockSSD"
                  (click)="initSSD()"
                />
              </ng-template>
              <ng-template #nzTitleselectedHDDorSSD2>
                <b>SSD</b>
              </ng-template>
              <ng-template #nzDescriptionselectedHDDorSSD2>
                <ellipsis
                  >Lựa chọn tốt hơn cho khối lượng công việc phân tích dữ liệu
                  hoặc <br />
                  chơi game
                </ellipsis>
              </ng-template>
            </nz-card-meta>
          </nz-card>
        </nz-col>
      </nz-radio-group>
    </nz-row>

    <nz-tabset>
      <nz-tab nzTitle="Gói cấu hình">
        <ngu-carousel
          #myCarousel
          [inputs]="carouselTileConfig"
          [dataSource]="listFlavors"
        >
          <ngu-tile
            *nguCarouselDef="let item; index as i; let ani = animate"
            [@slider]="ani"
          >
            <table class="text-center" (click)="onInputFlavors(item.id)">
              <tbody
                class="flavor-body"
                [id]="'flavor_' + item.id"
                [class.initialClassFlavor]="
                  selectedElementFlavor === 'flavor_' + item.id &&
                  isInitialClass
                "
                [class.newClassFlavor]="
                  selectedElementFlavor === 'flavor_' + item.id && isNewClass
                "
                (click)="selectElementInputFlavors('flavor_' + item.id)"
              >
                <tr>
                  <div>
                    <b class="h4">{{ item.flavorName | slice : 3 }}</b
                    ><br />
                    <b class="h4">{{ item.price }}</b
                    ><span> đ/tháng</span><br />
                    <span>đ/giờ</span>
                  </div>
                </tr>
                <tr
                  class="flavorfooter"
                  [class.flavor-footer-active]="
                    selectedElementFlavor === 'flavor_' + item.id
                  "
                  [class.flavor-footer]="
                    selectedElementFlavor != 'flavor_' + item.id
                  "
                >
                  <!-- [ngClass]="{'bgActive': isNewClass, 'bgGray': !isNewClass}" -->
                  <div>
                    <p>{{ item.description }}</p>
                  </div>
                </tr>
              </tbody>
            </table>
          </ngu-tile>

          <ul class="myPoint" NguCarouselPoint>
            <li
              *ngFor="let i of myCarousel.pointNumbers"
              [class.active]="i === myCarousel.activePoint"
              (click)="myCarousel.moveTo(i)"
            ></li>
          </ul>
        </ngu-carousel>
      </nz-tab>
      <nz-tab nzTitle="Cấu hình tuỳ chỉnh">
        <div class="ant-table">
          <table>
            <thead class="ant-table-thead">
              <tr>
                <th>VCPU</th>
                <th>RAM (GB)</th>
                <th>Dung lượng (GB)</th>
                <th>IOPS</th>
                <th>Giá theo tháng (VNĐ)</th>
                <th>Giá theo giờ (VNĐ)</th>
              </tr>
            </thead>
            <tbody class="ant-table-tbody">
              <tr>
                <td>
                  <nz-input-number
                    [(ngModel)]="configCustom.vCPU"
                    [ngModelOptions]="{ standalone: true }"
                    [nzMin]="0"
                    [nzMax]="62"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="configCustom.ram"
                    [ngModelOptions]="{ standalone: true }"
                    [nzMin]="0"
                    [nzMax]="62"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <nz-input-number
                    [(ngModel)]="configCustom.capacity"
                    [ngModelOptions]="{ standalone: true }"
                    [nzMin]="0"
                    [nzMax]="100"
                    [nzStep]="1"
                  ></nz-input-number>
                </td>
                <td>
                  <label>
                    {{ configCustom.iops }}
                  </label>
                </td>
                <td>
                  <label>
                    {{ configCustom.priceMonth }}
                  </label>
                </td>
                <td>
                  <label>
                    {{ configCustom.priceHour }}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nz-tab>
    </nz-tabset>
    <br />
    <nz-row nzGutter="16">
      <nz-col nzLg="12" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label
            >IP Public: {{ instancesModel.ipPublic }}</nz-form-label
          >
        </nz-form-item>
      </nz-col>
      <nz-col nzLg="12" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>IP LAN: {{ instancesModel.ipPrivate }}</nz-form-label>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col style="width: 100%">
        <nz-form-item>
          <nz-form-label>Chọn Security Group</nz-form-label>
          <nz-form-control>
            <nz-select
              nzMode="multiple"
              nzPlaceHolder="Chọn Security Group"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="selectedSecurityGroup"
              (ngModelChange)="onChangeSecurityGroup($event)"
            >
              <nz-option
                *ngFor="let i of listSecurityGroup"
                [nzLabel]="i.name"
                [nzValue]="i.id"
              />
            </nz-select>
          </nz-form-control> </nz-form-item
      ></nz-col>
    </nz-row>

    <nz-row style="margin-bottom: -40px" nzGutter="16">
      <nz-col nzLg="24" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label
            >Thời hạn sử dụng (Tháng)
            <span class="text-red">*</span></nz-form-label
          >
          <nz-form-control>
            <nz-row>
              <nz-input-number
                [nzReadOnly]="true"
                style="width: 50%"
                [nzMin]="1"
                [nzMax]="100"
                [nzStep]="1"
                [(ngModel)]="numberMonth"
                [ngModelOptions]="{ standalone: true }"
              ></nz-input-number>
              <div style="margin-left: 20px">
                Thời gian bắt đầu sử dụng:
                {{ instancesModel.createdDate | date : 'dd/MM/yyyy' }}
              </div>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <one-portal-blockstorage-detail
    [instancesId]="id"
  ></one-portal-blockstorage-detail>

  <one-portal-network-detail [instancesId]="id"></one-portal-network-detail>
</form>
<nz-card nzTitle="Thành tiền" [nzExtra]="extraTemplate">
  <div>
    <nz-table>
      <tr>
        <td>Chi phí máy ảo ( 1 tháng )</td>
        <td class="float-right">1.000.000 VNĐ</td>
      </tr>
      <tr>
        <td>Chi phí Volume bổ sung (1 tháng)</td>
        <td class="float-right">1.000.000 VNĐ</td>
      </tr>
      <tr>
        <td>Thành tiền ( Đã bao gồm 10% VAT)</td>
        <td class="float-right">1.000.000 VNĐ</td>
      </tr>
    </nz-table>
    <div style="float: right; padding-top: 1%">
      <button nz-button nzType="default" (click)="cancel()">Quay lại</button>
      <button nz-button nzType="primary" (click)="save()">Chỉnh sửa</button>
    </div>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <a>More</a>
</ng-template>
