<one-portal-header
        title="Security Group"
        [path]="['Home', 'Dịch vụ', 'Security Group']"
        [regionId]="region"
        (onProjectChanged)="projectChanged($event)" (onRegionChanged)="regionChanged($event)"
/>
<nz-content>
    <nz-card>
        <div class="title"><h3>Danh sách Security Group</h3></div>
        <nz-row style="margin-bottom: 16px">
            <nz-col nzSpan="4">
                <div class="label">Chọn Security group</div>
            </nz-col>
            <nz-col nzSpan="14">
                <nz-space [nzSize]="24">
                    <nz-select
                            *nzSpaceItem
                            nzShowSearch
                            nzAllowClear
                            nzPlaceHolder="Select a security"
                            [(ngModel)]="selectedValue"
                            (ngModelChange)="onSecurityGroupChange()">
                        <nz-option *ngFor="let item of options" [nzValue]="item" nzLabel="{{ item.name }}"></nz-option>
                    </nz-select>
                    <div *nzSpaceItem>
                        <one-portal-delete-security-group
                                *ngIf="!!selectedValue"
                                [condition]="conditionSearch"
                                [id]="selectedValue.id"
                                (onOk)="handleOk()"
                        />
                    </div>

                </nz-space>
            </nz-col>
            <nz-col nzSpan="6">
                <nz-row nzJustify="end">
                    <one-portal-create-security-group
                            [conditionSearch]="conditionSearch"
                            (onOk)="handleOkCreate()"
                    />
                </nz-row>
            </nz-col>
        </nz-row>
        <nz-row style="margin-bottom: 16px">
            <nz-col nzSpan="4">
                <div class="label">Mô tả</div>
            </nz-col>
            <nz-col>
                <div class="label">{{selectedValue?.description || ''}}</div>
            </nz-col>
        </nz-row>
        <one-portal-inbound-list
                [securityGroupId]="selectedValue?.id"
                [regionId]="region"
                [projectId]="project"
        />
        <one-portal-list-outbound
                [securityGroupId]="selectedValue?.id"
                [regionId]="region"
                [projectId]="project"
        />
        <one-portal-list-virtual-machine
                [securityGroupId]="selectedValue?.id"
                [regionId]="region"
                [projectId]="project">

        </one-portal-list-virtual-machine>
    </nz-card>
</nz-content>
