<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Thông tin Group'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">IAM</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/iam/user-group">User Groups</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/iam/user-group/detail">Group {{groupName}}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
                      <project-select-dropdown (valueChanged)="projectChanged($event)"
                                               [regionId]="region"></project-select-dropdown>
          </div>
        </ng-template>
      </page-header>
      <nz-content>
          <nz-card nzTitle="Thông tin chính của Group" [nzLoading]="loading">
              <nz-row nzJustify="space-between">
                  <nz-col nzSpan="12">
                      <nz-descriptions nzLayout="horizontal" [nzColumn]="1">
                          <nz-descriptions-item [nzTitle]="name">{{ groupModel?.name }}</nz-descriptions-item>
                          <ng-template #name>
                              <div>Tên của Group <span style="color: red">*</span></div>
                          </ng-template>
                          <nz-descriptions-item
                                  [nzTitle]="createdAt">{{ groupModel?.createdDate | date: 'dd/MM/yyyy - HH:ss:mm'}}</nz-descriptions-item>
                          <ng-template #createdAt>
                              <div>Thời gian khởi tạo <span style="color: red">*</span></div>
                          </ng-template>
                          <nz-descriptions-item [nzTitle]="parent">{{ groupModel?.parent }}</nz-descriptions-item>
                          <ng-template #parent>
                              <div>Parent Group <span style="color: red">*</span></div>
                          </ng-template>
                      </nz-descriptions>
                  </nz-col>
<!--                  <nz-col>-->
<!--                      <button nz-button class="button-del" nzSize="default" style="cursor: pointer;"-->
<!--                              (click)="showModalEdit()">-->
<!--                          Chỉnh sửa-->
<!--                      </button>-->
<!--                      <one-portal-edit-user-group [isVisible]="isVisibleEdit"-->
<!--                                                  [groupNameCurrent]="groupName"-->
<!--                                                  [parent]="parentGroup"-->
<!--                                                  (onOk)="handleOkEdit()"-->
<!--                                                  (onCancel)="handleCancelEdit()"-->
<!--                      />-->
<!--                  </nz-col>-->
              </nz-row>
          </nz-card>
          <nz-card nzTitle="Thông tin bổ sung">
              <nz-tabset>
                  <ng-template #user>
                      <div>Users</div>
                  </ng-template>
                  <!---Thông tin User -->
                  <nz-tab [nzTitle]="user">
                      <nz-row nzAlign="middle" style="margin: 16px 0" nzJustify="space-between">
<!--                          <nz-space [nzSize]="24">-->
<!--                              <div *nzSpaceItem>-->
<!--                                  <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">-->
<!--                                      <input style="width: 300px;" [(ngModel)]="value" (input)="onInputChange($event.target['value'])" type="text"-->
<!--                                             nz-input-->
<!--                                             placeholder="Tìm kếm tên..."/>-->
<!--                                  </nz-input-group>-->
<!--                                  <ng-template #suffixButton>-->
<!--                                      <button nz-button nzType="primary" nzSearch (click)="searchUsers()">-->
<!--                                          <span nz-icon nzType="search" nzTheme="outline"></span>Search-->
<!--                                      </button>-->
<!--                                  </ng-template>-->
<!--                              </div>-->
<!--                          </nz-space>-->
                        <form nz-form [nzLayout]="'inline'" [formGroup]="filterUsersForm" (ngSubmit)="searchUsers()">
                          <nz-form-item>
                            <nz-form-control>
                              <nz-input-group>
                                <input formControlName="keyword" nz-input placeholder="Tìm kếm tên..."/>
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                          <nz-form-item>
                            <nz-form-control>
                              <button nz-button nzType="primary">
                                <span nz-icon nzType="search" nzTheme="outline"></span>
                                Tìm kếm</button>
                            </nz-form-control>
                          </nz-form-item>
                        </form>
                          <nz-row nzAlign="middle">
                              <button nz-button nzSize="default" style="cursor: pointer;" >
                                  <span nz-icon nzType="reload" nzTheme="outline"></span>
                              </button>
                              <button nz-button
                                      class="button-del"
                                      nzSize="default"
                                      style="cursor: pointer;"
                                      (click)="removeUser()">
                                  <span nz-icon nzType="rest" nzTheme="outline"></span>
                                  Xóa
                              </button>
                              <button nz-button class="button-create"
                                      nzSize="default"
                                      style="cursor: pointer;"
                                      [routerLink]="'/app-smart-cloud/iam/user-group/'+groupName+'/add-user'">
                                  <span nz-icon nzType="plus" nzTheme="outline"></span>
                                  Thêm User
                              </button>
                          </nz-row>
                      </nz-row>
                      <div style="margin-bottom: 8px; margin-top: 8px">Users trong Group
                          <span>({{filteredUsers?.length}})</span>
                      </div>
                      <nz-table
                          #rowSelectionTable
                          nzShowPagination
                          nzShowSizeChanger
                          [nzData]="filteredUsers"
                          [nzLoading]="loading"
                          (nzCurrentPageDataChange)="onCurrentPageDataChangeUser($event)">
                          <thead>
                          <tr>
                              <th
                                      [nzChecked]="checkedUser"
                                      [nzIndeterminate]="indeterminateUser"
                                      nzLabel="Select all"
                                      (nzCheckedChange)="onAllCheckedUser($event)"
                              ></th>
                              <th>Name</th>
                              <th>Group</th>
                              <th>Thời gian tạo</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let data of rowSelectionTable.data">
                              <td
                                      [nzChecked]="setOfCheckedIdUser.has(data.userName)"
                                      (nzCheckedChange)="onItemCheckedUser(data.userName, $event)"
                              ></td>
                              <td>
                                  <a [href]="'/app-smart-cloud/users/detail/' + data.userName">{{ data.userName }}</a>
                              </td>
                              <td>{{data.userGroups}}</td>
                              <td>{{ data.createdDate | date: 'dd/MM/yyyy - HH:ss:mm' }}</td>
                          </tr>
                          </tbody>
                      </nz-table>
                  </nz-tab>
                  <!---Thông tin Policies -->
                  <nz-tab nzTitle="Policies">
                      <nz-row nzAlign="middle" style="margin: 16px 0" nzJustify="space-between">
                          <nz-space [nzSize]="24">
                            <form nz-form [nzLayout]="'inline'" [formGroup]="filterPoliciesForm" (ngSubmit)="searchPolicies()">
                              <nz-form-item>
                                <nz-form-label nzFor="status">Trạng thái</nz-form-label>
                                <nz-form-control>
                                  <nz-input-group>
                                    <nz-select formControlName="status" style="width: 155px">
                                      <nz-option nzLabel="Tất cả" nzValue="all"></nz-option>
                                      <nz-option nzLabel="Portal Managed" nzValue="Portal managed"></nz-option>
                                      <nz-option nzLabel="Custom Managed" nzValue="Custom managed"></nz-option>
                                    </nz-select>
                                  </nz-input-group>
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-control>
                                  <nz-input-group>
                                    <input formControlName="keyword" nz-input placeholder="Tìm kếm tên..."/>
                                  </nz-input-group>
                                </nz-form-control>
                              </nz-form-item>
                              <nz-form-item>
                                <nz-form-control>
                                  <button nz-button nzType="primary">
                                    <span nz-icon nzType="search" nzTheme="outline"></span>
                                    Tìm kếm</button>
                                </nz-form-control>
                              </nz-form-item>
                            </form>
                          </nz-space>
                          <nz-row nzAlign="middle">
                              <button nz-button nzSize="default" style="cursor: pointer;">
                                  <span nz-icon nzType="reload" nzTheme="outline"></span>
                              </button>
                              <button nz-button
                                      class="button-del"
                                      nzSize="default"
                                      style="cursor: pointer;"
                                      (click)="removePolicy()">
                                  <span nz-icon nzType="rest" nzTheme="outline"></span>
                                  Xóa
                              </button>
                              <button nz-button
                                      class="button-create"
                                      nzSize="default" style="cursor: pointer;"
                                      [routerLink]="'/app-smart-cloud/iam/user-group/'+groupName+'/add-policy'">
                                  <span nz-icon nzType="plus" nzTheme="outline"></span>
                                  Thêm policies
                              </button>
                          </nz-row>
                      </nz-row>
                      <div style="margin-bottom: 8px; margin-top: 8px">Policies
                          <span>({{filteredPolicies?.length}})</span>
                          <br/>
                          <span style="color: #00000040;">Có thể đính kèm tối đa 10 policies</span>
                      </div>

                      <nz-table
                          #rowSelectionTable2
                          nzShowPagination
                          nzShowSizeChanger
                          [nzData]="filteredPolicies"
                          [nzLoading]="loading"
                          [nzTotal]="filteredPolicies?.length"
                          [nzPageSize]="5"
                          [nzPageIndex]="1"
                          (nzCurrentPageDataChange)="onCurrentPageDataChangePolicy($event)"
                      >
                          <thead>
                          <tr>
                              <th
                                      [nzChecked]="checkedPolicy"
                                      [nzIndeterminate]="indeterminatePolicy"
                                      nzLabel="Select all"
                                      (nzCheckedChange)="onAllCheckedPolicy($event)"
                              ></th>
                              <th>Name</th>
                              <th>Type</th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let data of rowSelectionTable2.data">
                          <tr >
                              <td
                                      [nzChecked]="setOfCheckedIdPolicy.has(data.name)"
                                      (nzCheckedChange)="onItemCheckedPolicy(data.name, $event)"
                              ></td>
                              <td [nzExpand]="expandSet.has(data.name)" (nzExpandChange)="onExpandChange(data.name, $event)">
                                  {{ data.name }}
                              </td>
                              <td>{{ data.type }}</td>
                          </tr>
                          <tr [nzExpand]="expandSet.has(data.name)">
                              <div *ngIf="data.type ==='Portal managed'">
                                <div class="json-viewer-bg">
                                  <ngx-json-viewer [json]="data" style="position: relative;"></ngx-json-viewer>
                                </div>
                              </div>
                              <div *ngIf="data.type === 'Customer managed'">
                                <div class="json-viewer-bg">
                                  <button nz-button
                                          style="z-index: 1;position: absolute; right: 20px; top: 21px;"
                                          [routerLink]="'/app-smart-cloud/policy/update/' +  data.name">Chỉnh sửa
                                  </button>
                                  <ngx-json-viewer [json]="data" style="position: relative;"></ngx-json-viewer>
                                </div>
                              </div>
                          </tr>
                          </tbody>
                      </nz-table>
                  </nz-tab>
              </nz-tabset>
              <nz-form-item nzAlign="bottom" nzJustify="end" style="margin-top: 48px">
                  <nz-space nzSize="large">
                      <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-cancel">Quay lại
                      </button>
                  </nz-space>
              </nz-form-item>
          </nz-card>
      </nz-content>
