<page-header [extra]="extra" [content]="content" [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Allow Address Pair'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Dịch vụ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/app-smart-cloud/instances/instances-detail/8101'">VM</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>

      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>

  <ng-template #content>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input nz-input
             placeholder="Tìm kiếm IP Address"
             [(ngModel)]="value"
             type="text"
             nzSize="default"
             style="width: 400px;"
             (input)="onInputChange($event.target['value'])"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzSize="default" class="button-search" (click)="search()" style="cursor: pointer;">
        <span nz-icon nzType="setting" nzTheme="outline" style="margin-right: 5px;"></span>
        Search
      </button>
    </ng-template>
  </ng-template>

  <ng-template #extra>
    <button nz-button class="button-create" nzSize="default" (click)="showModalCreate()" style="cursor: pointer;">
      <span nz-icon nzType="plus" nzTheme="outline" style="margin-right: 5px;"></span>
      Tạo mới
    </button>
    <create-allow-address-pair [isVisible]="isVisibleCreate"
                               [isLoading]="isLoading"
                               [region]="region"
                               [project]="project"
                               [userId]="userId"
                               (onCancel)="handleCloseCreate()"
                               (onOk)="handleOkCreate()"/>
  </ng-template>


</page-header>
<nz-content>
  <nz-card>
    <nz-table #tablePair
              [nzData]="collection.records"
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzTotal]="collection.totalCount"
              [nzPageSize]="collection.pageSize"
              [nzPageIndex]="collection.currentPage"
              [nzLoading]="isLoading"
              (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th nzAlign="center" class="text-th">IP Address/CIDR</th>
        <th nzAlign="center" class="text-th">MAC Address</th>
        <th nzAlign="center" class="text-th" style="width: 216px;">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tablePair.data">
        <td nzAlign="center">{{ data.ipAddress }}</td>
        <td nzAlign="center">{{ data.macAddress }}</td>
        <td nzAlign="center">
          <button nz-button nzType="primary" nzDanger
                  class="button-delete"
                  (click)="showModalDelete()">
            Xoá
          </button>
          <delete-allow-address-pair [isVisible]="isVisibleDelete"
                                     [isLoading]="isLoading"
                                     (onCancel)="handleCancelDelete()"
                                     (onOk)="handleOkDelete(data)"
          ></delete-allow-address-pair>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
