<div nz-space nzAlign="center" class="dashboard-container space-align-container">
  <nz-card id="welcome-card" *nzSpaceItem class="mt-5 pl-10 pr-10">
    <div style="max-width: 1224px">
      <div nz-row class="mb-10">
        <h2>Welcome to OnePortal</h2>
        <p>Khi xây dựng trên OnePortal, bạn có thể có toàn quyền kiểm soát cơ sở hạ tầng của mình (với các sản phẩm như
          Droplets và IP dành riêng) hoặc để chúng tôi xử lý cơ sở hạ tầng cho bạn (với các sản phẩm như Nền tảng ứng
          dụng, bộ cân bằng tải và cơ sở dữ liệu được quản lý).</p>
      </div>

      <div nz-row nzJustify="space-between" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div class="gutter-row" nz-col nzSpan="6">
          <img
            src="https://ui-cdn.digitalocean.com/aurora/assets/images/project-empty-resources/droplet-4f1529af7a1dc5f0069235e64359074b.png"
            alt="droplet" class="u-mb-3">
          <p class="mt-2"><strong>Spin up a Droplet</strong></p>
          <p nz-typography nzType="secondary">Droplets are virtual machines that anyone can setup in seconds.</p>

        </div>
        <div class="gutter-row" nz-col nzSpan="6">
          <img
            src="https://ui-cdn.digitalocean.com/aurora/assets/images/project-empty-resources/web-app-0931190a24c4a1f7ad560cf0122616ea.png"
            alt="web app" class="u-mb-3">
          <p class="mt-2"><strong>Deploy your web app</strong></p>
          <p nz-typography nzType="secondary">Build, deploy, and scale apps quickly using a simple, fully-managed
            solution.</p>
        </div>
        <div class="gutter-row" nz-col nzSpan="6">
          <img
            src="https://ui-cdn.digitalocean.com/aurora/assets/images/project-empty-resources/cloud-ways-50449490105fb634285dbd4406f91acc.png"
            alt="cloud ways" class="u-mb-3">
          <p class="mt-2"><strong>Cloudways &amp; DigitalOcean</strong></p>
          <p nz-typography nzType="secondary">#1 Managed Hosting Provider joins forces with DigitalOcean, check it
            out!</p>
        </div>
        <div class="gutter-row" nz-col nzSpan="6">
          <img
            src="https://ui-cdn.digitalocean.com/aurora/assets/images/project-empty-resources/getting-started-96083e74ff5d12e42e707b9d6282ef26.png"
            alt="getting started" class="u-mb-3">
          <p class="mt-2"><strong>Getting Started</strong></p>
          <p nz-typography nzType="secondary" class="small u-mb-0">Not sure where to start? Let us help you understand
            where to begin.</p>
        </div>

      </div>


    </div>


    <div nz-row class="mt-10">
      <div nz-col nzSpan="8">
        <h3>Create something new</h3>

        <div class="flex-card resource-database">
          <div role="button" class="flex-card-image" data-ember-action="" data-ember-action-2519="2519">
            <div class="card-img database-img"></div>
          </div>
          <div nz-typography class="flex-card-body">
            <a href="http://localhost">Create a Managed
              Database</a>
            <p>Worry-free database management</p>
          </div>
          <div class="flex-card resource-loadBalancer">
            <div role="button" class="flex-card-image" data-ember-action="" data-ember-action-2525="2525">
              <div class="card-img loadBalancer-img"></div>
            </div>
            <div class="flex-card-body">
              <a role="button" class="link-copy" data-ember-action="" data-ember-action-2526="2526">Spin up a Load
                Balancer</a>
              <p>Distribute traffic between multiple Droplets</p>
            </div>
          </div>
        </div>


      </div>
      <div nz-col nzSpan="8">
        <div class="flex-card resource-bucket">
          <div role="button" class="flex-card-image" data-ember-action="" data-ember-action-2522="2522">
            <div class="card-img bucket-img"></div>
          </div>
          <div class="flex-card-body">
            <a role="button" class="link-copy" data-ember-action="" data-ember-action-2523="2523">Start using Spaces</a>
            <p>Deliver data with scalable object storage</p>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <h3>Learn more</h3>
        <div class="fleet--learn-more-link">
          <a href="https://docs.digitalocean.com/products" target="_blank" rel="noopener noreferrer">
            Product Docs
          </a>
          <p>Technical overviews, how-tos, release notes, and support material</p>
        </div>

        <div class="fleet--learn-more-link">
          <a href="https://www.digitalocean.com/community/tutorials" target="_blank" rel="noopener noreferrer">
            Tutorials
          </a>
          <p>DevOps and development guidelines</p>
        </div>

        <div class="fleet--learn-more-link">
          <a href="https://docs.digitalocean.com/reference" target="_blank" rel="noopener noreferrer">
            API &amp; CLI Docs
          </a>
          <p>Run your resources programmatically</p>
        </div>

        <div class="fleet--learn-more-link">
          <a href="https://www.digitalocean.com/community/questions" target="_blank" rel="noopener noreferrer">
            Ask a question
          </a>
          <p>Connect, share and learn</p>
        </div>
      </div>


    </div>

  </nz-card>

</div>


