<page-header [extra]="extra"
             [content]="content"
             [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Danh sách User Groups'">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a [routerLink]="['/']">Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['/']">IAM</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="'/app-smart-cloud/iam/user-group'">User Groups</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
    <ng-template #action>
        <div class="alain-custom-action text-right">
            <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
            <project-select-dropdown (valueChanged)="projectChanged($event)"
                                     [regionId]="region"></project-select-dropdown>
        </div>
    </ng-template>
    <ng-template #content>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
            <input style="width: 400px;" [(ngModel)]="value" (input)="onInputChange($event.target['value'])" type="text"
                   nz-input
                   placeholder="Tìm kếm tên..."/>
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSearch>
                <span nz-icon nzType="search" nzTheme="outline" (click)="getData()"></span>Search
            </button>
        </ng-template>
    </ng-template>

    <ng-template #extra>
        <button nz-button nzSize="default" style="cursor: pointer; margin-right: 5px;" (click)="refresh()">
            <span nz-icon nzType="reload" nzTheme="outline"></span>
        </button>
        <button nz-button class="button-del" nzSize="default" (click)="showModalDelete()">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
            Xóa
        </button>
        <button nz-button class="button-create" nzSize="default" style="cursor: pointer; margin-left: 5px;"
                (click)="navigateToCreate()">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Tạo mới
        </button>
    </ng-template>
</page-header>
<nz-content>
    <nz-card>
        <nz-table
            #rowSelectionTable
            nzShowSizeChanger
            [nzData]="collection?.records"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="collection?.totalCount"
            [nzPageSize]="collection?.pageSize"
            [nzPageIndex]="collection?.currentPage"
        >
            <thead>
            <tr>
                <th [nzChecked]="checked"
                    [nzIndeterminate]="indeterminate"
                    nzLabel="Select all"
                    (nzCheckedChange)="onAllChecked($event)"></th>
                <th>Name</th>
                <th>Số lượng users</th>
                <th>Group Parent</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td
                        [nzChecked]="setOfCheckedId.has(data.name)"
                        (nzCheckedChange)="onItemChecked(data.name, $event)"
                ></td>
                <td>
                    <a [href]="'/app-smart-cloud/iam/user-group/' + data.name">{{ data.name }}</a>
                </td>
                <td>{{data.userOfGroup}}</td>
                <td *ngIf="data.parent === null"></td>
                <td *ngIf="data.parent !== null">{{ data.parent }}</td>
            </tr>
            </tbody>
        </nz-table>
    </nz-card>
</nz-content>
<ng-container *ngIf="deleteList.length == 1; else elseBlock">
    <one-portal-delete-one-user-group [isVisible]="!!deleteList.length" [nameGroup]="deleteList"
                                      (onCancel)="handleCancelDelete()" (onOk)="handleOkDelete()"/>
</ng-container>
<ng-template #elseBlock>
    <one-portal-delete-user-group [isVisible]="!!deleteList.length" [items]="deleteList"
                                  (onCancel)="handleCancelDelete()"
                                  (onOk)="handleOkDelete()"/>
</ng-template>


