<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
  <nz-card>
    <nz-row nzGutter="24">
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name">
            <div class="label">
              <span>Tên máy ảo</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <input nz-input formControlName="name" id="name"/>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Vui lòng nhập thông tin</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="flavor">
            <div class="label">
              <span>Gói cấu hình</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <one-portal-flavor-select [region]="region"
                                      [value]="validateForm.controls.flavor.value"
                                      (onChange)="handleFlavorChange($event)"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="flavor">
            <div class="label">
              <span>Hệ điều hành</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <input nz-input value="{{ backupVm?.systemInfoBackups[0].osName }}" disabled="true"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="volumeToBackupIds">
            <div class="label">
              <span>Chọn Volume gắn ngoài cần Restore</span>
            </div>
          </nz-form-label>
          <nz-form-control>
            <nz-select
              id="volumeToBackupIds"
              formControlName="volumeToBackupIds"
              [nzPlaceHolder]="'Volume gắn ngoài'"
              nzMode="multiple"
              [nzShowSearch]="false">
              <nz-option
                *ngFor="let i of volumeAttachments"
                [nzLabel]="i.name"
                [nzValue]="i.id"
                />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div style="margin-top: 10px">
          <div class="label">
            <span>Thời gian hết hạn:</span>
          </div>
          <input nz-input value="{{ backupVm?.expirationDate | date: 'dd/MM/yyyy - HH:ss:mm'}}" disabled="true"/>
        </div>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="security-group">
            <div class="label">
              <span>Chọn Security Group</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips>
            <nz-select [nzPlaceHolder]="'Security Group'"
                       formControlName="securityGroup"
                       id="securityGroup"
                       [nzShowSearch]="false"
                       nzMode="multiple">
              <nz-option *ngFor="let index of securityGroupLst"
                         [nzLabel]="index.sgName"
                         [nzValue]="index"/>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="storage">
            <div class="label">
              <span>Dung lượng ổ hệ điều hành</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <nz-input-group nzAddOnAfter="GB" style="width: 100%">
              <input nz-input formControlName="storage" id="storage"/>
            </nz-input-group>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Vui lòng nhập thông tin</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="iops">
            <div class="label">
              <span>IOPS</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control>
            <input nz-input [disabled]="true" [value]="validateForm.controls.iops.getRawValue()"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="iops">
            <div class="label">
              <span>Thời gian sử dụng (tháng)</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="monthsUseErrorTpl">
            <input nz-input type="number" style="width: 100%;" formControlName="monthsUse" id="monthsUse" min="1" max="24" step="1" />
            <ng-template #monthsUseErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Vui lòng nhập thông tin</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">Vui lòng nhập số</ng-container>
              <ng-container *ngIf="control.hasError('max')">Vui lòng nhập số không quá 24 tháng</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12"></nz-col>
    </nz-row>
  </nz-card>
  <nz-card nzTitle="Thành tiền">
    <nz-table>
      <tr>
        <td>Chi phí restore (1 tháng)</td>
        <td style="padding-top: 10px; text-align: right">{{ price }} VNĐ</td>
      </tr>
      <tr>
        <td>Thành tiền (Đã bao gồm 10% VAT)</td>
        <td style="padding-top: 10px; text-align: right">{{ price }} VNĐ</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: right;">
          <nz-form-item nzAlign="bottom" nzJustify="end" style="margin-top: 30px">
            <nz-space nzSize="large">
              <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-back">Quay
                lại
              </button>
              <nz-form-control *nzSpaceItem>
                <button nz-button  nzType="primary" class="button-create" [disabled]="!validateForm.valid">Xác nhận</button>
              </nz-form-control>
            </nz-space>
          </nz-form-item>
        </td>
      </tr>
    </nz-table>
  </nz-card>
</form>
