<page-header [action]="action" [title]="'Danh sách Volume'">
  <ng-template #action>
    <div class="text-right">
      <region-select-dropdown
        (valueChanged)="getRegionId($event)"
      ></region-select-dropdown>
      <project-select-dropdown [regionId]="regionSearch" (valueChanged)="getProjectId($event)"></project-select-dropdown>
    </div>
  </ng-template>

  <div
    class="row"
  >
    <div style="display: inline-block; margin-right: auto;">
      <nz-form-label [nzFor]="'volumeStatus'"><b>Trạng thái Volume</b></nz-form-label>
      <nz-select nzSize="default"
                 [nzPlaceHolder]="'Tất cả trạng thái'"
                 [nzOptions]="options"
                 [(ngModel)]="volumeStatusSearch"
                 (ngModelChange)="searchVolumes()"
                 style="width: 170px;"
      >
      </nz-select>

      <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton">
        <input type="text" [(ngModel)]="volumeNameSearch" nz-input placeholder="Tìm kiếm Volume"
               style="width: 300px; margin-left: 30px;"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="default" (click)="searchVolumes()" nzSearch><i nz-icon
                                                                                                  [nzType]="'search'"></i>Search
        </button>
      </ng-template>
    </div>

    <div style="display: inline-block; margin-left: auto; text-align: right;">
      <button class="bg-success border-success"
              nz-button
              nzType="primary"
              (click)="navigateToCreateVolume()"
      >
        <span
          nz-icon nzType="plus"
          nzTheme="outline" style="margin-left: 10px; margin-right: 10px;">
        </span>
        Tạo mới
      </button>
    </div>
  </div>


</page-header>


<nz-spin [nzSpinning]="isLoadingAction">
  <div class="search-volume" *ngIf="!isBlankVolume; else elsePage">
    <nz-tabset [(nzSelectedIndex)]="tabVolumeIndex">
      <nz-tab nzTitle="Volume Root" (nzClick)="reloadDataVolumeRoot()">

        <nz-table #tableRoot [nzData]="listVolumeRoot" [nzFrontPagination]="false" [nzTotal]="totalRoot"
                  (nzPageIndexChange)="onRootPageIndexChange($event)" [nzLoading]="isLoadingSearch">
          <thead>
          <tr>
            <th>Tên Volume</th>
            <th>Dung lượng(GB)</th>
            <th>IPOPS</th>
            <th>Trạng thái Volume</th>
            <th>Trạng thái tác vụ</th>
            <th>Máy ảo</th>
            <th>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of tableRoot.data; let i = index">
            <td (click)="getDetailVolume(data.id)"><a>{{ data.name }}</a></td>
            <td>{{ data.sizeInGB}}</td>
            <td>{{ data.iops }}</td>
            <td *ngIf="data.status === 'KHOITAO'" style="color: #6abe39">{{ volumeStatus.get(data.status)}}</td>
            <td *ngIf="data.status === 'ERROR' || data.status === 'SUSPENDED'" style="color: red">{{ volumeStatus.get(data.status)}}</td>
            <td>{{ data.serviceStatus }}</td>
            <td>{{ data.instanceName }}</td>
            <td>
              <nz-select nzSize="default"
                         class="custom-background"
                         [nzPlaceHolder]="'Tạo Snapshot'"
                         [nzOptions]="optionVolumeRoot"
                         style="width: 150px;"
                         [ngModel]="selectedOptionAction"
                         (ngModelChange)="onSelectionChange($event , data)"
              >
              </nz-select>
            </td>
          </tr>
          </tbody>
        </nz-table>

      </nz-tab>
      <nz-tab nzTitle="Volume gắn thêm" (nzClick)="reloadDataVolumeAdd()">

        <nz-table #tableAdd [nzData]="listVolumeAdd" [nzFrontPagination]="false" [nzTotal]="totalAdd"
                  (nzPageIndexChange)="onAddPageIndexChange($event)" [nzLoading]="isLoadingSearch">
          <thead>
          <tr>
            <th>Tên Volume</th>
            <th>Dung lượng(GB)</th>
            <th>IPOPS</th>
            <th>Trạng thái Volume</th>
            <th>Trạng thái tác vụ</th>
            <th>Máy ảo</th>
            <th>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of tableAdd.data; let i = index">
            <td (click)="getDetailVolume(data.id)"><a>{{ data.name }}</a></td>
            <td>{{ data.sizeInGB}}</td>
            <td>{{ data.iops }}</td>
            <td *ngIf="data.status === 'KHOITAO'" style="color: #6abe39">{{ volumeStatus.get(data.status)}}</td>
            <td *ngIf="data.status === 'ERROR'" style="color: red">{{ volumeStatus.get(data.status)}}</td>
            <td *ngIf="data.status === 'SUSPENDED'" style="color: red">{{ volumeStatus.get(data.status)}}</td>
            <td>{{ data.serviceStatus }}</td>
            <td>{{ data.instanceName }}</td>
            <td>
              <nz-select nzSize="default"
                         class="custom-background"
                         [nzPlaceHolder]="'Gắn Volume'"
                         [nzOptions]="optionVolumeAdd"
                         style="width: 150px;"
                         [ngModel]="selectedOptionAction"
                         (ngModelChange)="onSelectionChange($event , data)"
              >
              </nz-select>
            </td>
          </tr>
          </tbody>
        </nz-table>


      </nz-tab>
    </nz-tabset>
  </div>
</nz-spin>

<ng-template #elsePage>
  <nz-card>
    <result>
      <img nz-image style="height: 100%; width: 100%;" nzSrc="assets/imgs/blank_volume.png" alt=""/>

      <button nz-button [nzType]="'primary'" (click)="navigateToCreateVolume()">
        <!-- <a routerLink="/pages/instances/instances-create"> Khởi tạo ngay</a>
        -->
        Khởi tạo ngay
      </button>
    </result>
  </nz-card>
</ng-template>
